/.venv
.DS_Store
*.pyc
/docs/build
/docs/source/modules.rst
docs/source/tenable*.rst
/docs/_build
.pytest_cache
*.json
*.log
.coverage
/test_certs
.python-version
/build
/tests/sc/cassettes/sc_login.yaml-backup
/tests/sc/cassettes/sc_logout.yaml-backup
/tests/sc/cassettes/scan_policy.yml-backup
/test_*.py
__pycache__
/.secrets
/*.nessus
/pyTenable.egg-info
Jenkinsfile
/ex_*.py
.idea
/dist
sync_job_example_run.py
__MACOSX