dataclasses>=0.8;python_version=="3.6"
requests>=2.26
python-dateutil>=2.6
semver>=2.10.0
restfly>=1.4.5
marshmallow>=3.8
python-box>=4.0
defusedxml>=0.5.0
urllib3==1.26.18
typing-extensions>=3.10.0.2
