interactions:
- request:
    body: '{"actions": ["CanView", "CanUse"], "objects": [{"name": "Category,dummy_value",
      "type": "Tag", "uuid": "503cc4f5-fbf5-4583-87db-9281cc964174"}], "subjects":
      [{"name": "User sub", "type": "User", "uuid": "b83faeec-f790-433f-893c-88c48c82562e"}],
      "name": "test_ObNWG"}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/api/v3/access-control/permissions/
  response:
    body:
      string: '{"permission_uuid":"e43faaaf-88f7-468f-bdcd-91ec2da5efdd","name":"test_ObNWG","subjects":[{"type":"User","uuid":"b83faeec-f790-433f-893c-88c48c82562e","name":"admin_a@sandbox.a.io"}],"actions":["CanView","CanUse"],"objects":[{"type":"Tag","uuid":"503cc4f5-fbf5-4583-87db-9281cc964174","name":"Category:dummy_value"}],"created_at":1663227826149,"created_by":"admin_a@sandbox.a.io"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-ppvw7-ap-southeast-1-prod
      X-Request-Uuid:
      - 32ff7be449ad6afb33d6f5f1c7c8cbce
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: GET
    uri: https://cloud.tenable.com/api/v3/access-control/permissions/e43faaaf-88f7-468f-bdcd-91ec2da5efdd
  response:
    body:
      string: '{"permission_uuid":"e43faaaf-88f7-468f-bdcd-91ec2da5efdd","name":"test_ObNWG","subjects":[{"type":"User","uuid":"b83faeec-f790-433f-893c-88c48c82562e","name":"admin_a@sandbox.a.io"}],"actions":["CanView","CanUse"],"objects":[{"type":"Tag","uuid":"503cc4f5-fbf5-4583-87db-9281cc964174","name":"Category:dummy_value"}],"created_at":1663227826149,"created_by":"admin_a@sandbox.a.io"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-ppvw7-ap-southeast-1-prod
      X-Request-Uuid:
      - d9b9d5772cb2dcea468b1c55a0daea26
    status:
      code: 200
      message: OK
version: 1
