interactions:
- request:
    body: '{"actions": ["CanView", "CanUse"], "objects": [{"name": "Category,dummy_value",
      "type": "Tag", "uuid": "036e9d0d-83dc-4f3a-b9d9-47813264a0cc"}], "subjects":
      [{"name": "User sub", "type": "User", "uuid": "b83faeec-f790-433f-893c-88c48c82562e"}],
      "name": "test_wkKWL"}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/api/v3/access-control/permissions/
  response:
    body:
      string: '{"permission_uuid":"23a5dbce-6c45-4d89-8d44-347780dce788","name":"test_wkKWL","subjects":[{"type":"User","uuid":"b83faeec-f790-433f-893c-88c48c82562e","name":"admin_a@sandbox.a.io"}],"actions":["CanView","CanUse"],"objects":[{"type":"Tag","uuid":"036e9d0d-83dc-4f3a-b9d9-47813264a0cc","name":"Category:dummy_value"}],"created_at":1663130092007,"created_by":"admin_a@sandbox.a.io"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-me0fb-ap-southeast-1-prod
      X-Request-Uuid:
      - 36ea9e9563fb98d2ee25f609fc76f878
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: GET
    uri: https://cloud.tenable.com/api/v3/access-control/permissions/23a5dbce-6c45-4d89-8d44-347780dce788
  response:
    body:
      string: '{"permission_uuid":"23a5dbce-6c45-4d89-8d44-347780dce788","name":"test_wkKWL","subjects":[{"type":"User","uuid":"b83faeec-f790-433f-893c-88c48c82562e","name":"admin_a@sandbox.a.io"}],"actions":["CanView","CanUse"],"objects":[{"type":"Tag","uuid":"036e9d0d-83dc-4f3a-b9d9-47813264a0cc","name":"Category:dummy_value"}],"created_at":1663130092007,"created_by":"admin_a@sandbox.a.io"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-me0fb-ap-southeast-1-prod
      X-Request-Uuid:
      - b69695e814d53194aefd6c4f619ee4ae
    status:
      code: 200
      message: OK
version: 1
