interactions:
- request:
    body: '{"actions": ["CanView", "CanUse"], "objects": [{"name": "Category,dummy_value",
      "type": "Tag", "uuid": "92373c4a-5114-49ec-9146-0c7673442381"}], "subjects":
      [{"name": "User sub", "type": "User", "uuid": "b83faeec-f790-433f-893c-88c48c82562e"}],
      "name": "test_txcmo"}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/api/v3/access-control/permissions/
  response:
    body:
      string: '{"permission_uuid":"532b7574-8864-425e-98f0-ada00f474642","name":"test_txcmo","subjects":[{"type":"User","uuid":"b83faeec-f790-433f-893c-88c48c82562e","name":"admin_a@sandbox.a.io"}],"actions":["CanView","CanUse"],"objects":[{"type":"Tag","uuid":"92373c4a-5114-49ec-9146-0c7673442381","name":"Category:dummy_value"}],"created_at":1663227828972,"created_by":"admin_a@sandbox.a.io"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-ppvw7-ap-southeast-1-prod
      X-Request-Uuid:
      - caafa5e9a5e12fb5f7e36f605ccc1da2
    status:
      code: 200
      message: OK
- request:
    body: '{"actions": ["CanView"], "objects": [{"name": "Category,dummy_value", "type":
      "Tag", "uuid": "532b7574-8864-425e-98f0-ada00f474642"}], "subjects": [{"name":
      "User sub", "type": "User", "uuid": "b83faeec-f790-433f-893c-88c48c82562e"}],
      "name": "test_xtxCQ"}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: PUT
    uri: https://cloud.tenable.com/api/v3/access-control/permissions/532b7574-8864-425e-98f0-ada00f474642
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      X-Gateway-Site-ID:
      - nginx-router-ppvw7-ap-southeast-1-prod
      X-Request-Uuid:
      - 0837140559e4cccd2c87b129efa146c9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: GET
    uri: https://cloud.tenable.com/api/v3/access-control/permissions/532b7574-8864-425e-98f0-ada00f474642
  response:
    body:
      string: '{"permission_uuid":"532b7574-8864-425e-98f0-ada00f474642","name":"test_xtxCQ","subjects":[{"type":"User","uuid":"b83faeec-f790-433f-893c-88c48c82562e","name":"admin_a@sandbox.a.io"}],"actions":["CanView"],"objects":[{"type":"Tag","uuid":"532b7574-8864-425e-98f0-ada00f474642","name":"Category:dummy_value"}],"created_at":1663227828972,"created_by":"admin_a@sandbox.a.io","updated_at":1663227829793,"updated_by":"admin_a@sandbox.a.io"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-ppvw7-ap-southeast-1-prod
      X-Request-Uuid:
      - ec73a5d491b4b3780d07ffa3ba8fe343
    status:
      code: 200
      message: OK
version: 1
