interactions:
- request:
    body: null
    headers:
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: GET
    uri: https://cloud.tenable.com/api/v3/access-control/permissions/4c931fce-699c-4052-a43c-c953e71dd37b
  response:
    body:
      string: '{"permission_uuid":"4c931fce-699c-4052-a43c-c953e71dd37b","name":"AG-tag-retesing:1
        - Default Permissions","subjects":[{"type":"UserGroup","uuid":"00000000-0000-0000-0000-000000000000","name":"All
        Users"},{"type":"User","uuid":"ec466b2b-0e76-4ce6-9e54-7db8552655a6","name":"kandarp_test1@tenable.com"},{"type":"UserGroup","uuid":"04c42e1c-e986-4760-a12f-3feb86f6e3c2","name":"Test_7"},{"type":"UserGroup","uuid":"b90d9d12-b61e-4d92-84c3-1aa51ddd4089","name":"123456789"},{"type":"UserGroup","uuid":"77df6fbc-08be-46c0-be81-66420d6bd66e","name":"Test_15"}],"actions":["CanUse","CanEdit"],"objects":[{"type":"Tag","uuid":"55ba39c1-9498-4090-b81a-e17b3a0ccbcb","name":"AG-tag-retesing:1"}],"created_at":1643389648056,"created_by":"SYSTEM","updated_at":1662708497394,"updated_by":"admin_a@sandbox.a.io"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-ppvw7-ap-southeast-1-prod
      X-Request-Uuid:
      - 0666ce3d6ecf301b2a4c2833f501b088
    status:
      code: 200
      message: OK
version: 1
