interactions:
- request:
    body: !!python/unicode '{"name": "Example Repo", "trendingDays": 0, "nessusSchedule":
      {"type": "never"}, "trendWithRaw": "false", "dataFormat": "IPv4", "type": "Local",
      "ipRange": "0.0.0.0/0"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/repository
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"6","name":"Example
        Repo","description":"","type":"Local","dataFormat":"IPv4","remoteID":null,"remoteIP":null,"running":"false","downloadFormat":"v2","lastSyncTime":"0","createdTime":"1550707168","modifiedTime":"1550707168","lastVulnUpdate":"1550707168","vulnCount":"0","organizations":[],"typeFields":{"correlation":[],"nessusSchedule":{"type":"never","start":"","repeatRule":""},"ipRange":"0.0.0.0\/0","ipCount":"0","runningNessus":"false","lastGenerateNessusTime":"0","trendingDays":"0","trendWithRaw":"false","lastTrendUpdate":"0"}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1550707168}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"name": "Example Repo", "trendingDays": 0, "nessusSchedule":
      {"type": "never"}, "trendWithRaw": "false", "dataFormat": "IPv4", "type": "Local",
      "ipRange": "0.0.0.0/0"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/repository
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"16","name":"Example
        Repo","description":"","type":"Local","dataFormat":"IPv4","remoteID":null,"remoteIP":null,"running":"false","downloadFormat":"v2","lastSyncTime":"0","createdTime":"1550708727","modifiedTime":"1550708727","lastVulnUpdate":"1550708727","vulnCount":"0","organizations":[],"typeFields":{"correlation":[],"nessusSchedule":{"type":"never","start":"","repeatRule":""},"ipRange":"0.0.0.0\/0","ipCount":"0","runningNessus":"false","lastGenerateNessusTime":"0","trendingDays":"0","trendWithRaw":"false","lastTrendUpdate":"0"}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1550708727}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
