interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/token
  response:
    body:
      string: '{"type":"regular","response":{"lastLogin":"1654002051","lastLoginIP":"10.250.66.237","failedLogins":"0","failedLoginIP":"N\/A","lastFailedLogin":null,"token":2026628580,"unassociatedCert":"false"},"error_code":0,"error_msg":"","warnings":[],"timestamp":1654072941}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      TNS_SESSIONID:
      - 7a5881dfccf87deb079b5b54fac90744
      X-SecurityCenter:
      - '0000000000'
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/system
  response:
    body:
      string: '{"type":"regular","response":{"reportTypes":[{"name":"PDF","type":"pdf","enabled":"true","attributeSets":[]},{"name":"CSV","type":"csv","enabled":"true","attributeSets":[]},{"name":"DISA
        ARF","type":"arf","enabled":"true","attributeSets":["arf"]},{"name":"DISA
        ASR","type":"asr","enabled":"true","attributeSets":[]},{"name":"DISA Consolidated
        ARF","type":"carf","enabled":"true","attributeSets":[]},{"name":"CyberScope","type":"lasr","enabled":"true","attributeSets":["lasr"]}],"StatusJava":"true","buildID":"20220503033716","banner":"","releaseID":"20220503033716","uuid":"fbf0f635-1199-5358-ab8e-d5be76d3a17e","version":"5.22.0","logo":"assets\/mariana\/images\/sc4icon.png","serverAuth":"any","serverClassification":"None","sessionTimeout":"3600","licenseMode":"SC","licenseStatus":"Valid","ACAS":"false","freshInstall":"no","headerText":"","loginNotifications":"false","PasswordComplexity":"false","telemetryEnabled":"true","SAML":"false","SerializationDisabled":"false","APIKeysEnabled":"true","pluginSet":"202205310147","PictureInPicture":"false","TenablescPlus":"false","timezones":[{"name":"Africa\/Abidjan","gmtOffset":0},{"name":"Africa\/Accra","gmtOffset":0},{"name":"Africa\/Addis_Ababa","gmtOffset":3},{"name":"Africa\/Algiers","gmtOffset":1},{"name":"Africa\/Asmara","gmtOffset":3},{"name":"Africa\/Bamako","gmtOffset":0},{"name":"Africa\/Bangui","gmtOffset":1},{"name":"Africa\/Banjul","gmtOffset":0},{"name":"Africa\/Bissau","gmtOffset":0},{"name":"Africa\/Blantyre","gmtOffset":2},{"name":"Africa\/Brazzaville","gmtOffset":1},{"name":"Africa\/Bujumbura","gmtOffset":2},{"name":"Africa\/Cairo","gmtOffset":2},{"n[...]
[...]
