interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/system
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"reportTypes":[{"name":"PDF","type":"pdf","enabled":"true","attributeSets":[]},{"name":"CSV","type":"csv","enabled":"true","attributeSets":[]},{"name":"RTF","type":"rtf","enabled":"true","attributeSets":[]},{"name":"DISA
        ARF","type":"arf","enabled":"false","attributeSets":["arf"]},{"name":"DISA
        ASR","type":"asr","enabled":"false","attributeSets":[]},{"name":"CyberScope","type":"lasr","enabled":"true","attributeSets":["lasr"]}],"version":"5.8.0","buildID":"201810303290","banner":"","releaseID":"201810303290","uuid":"3ae050e2-486c-5c1a-a6a5-45305557cec3","logo":"assets\/mariana\/images\/sc4icon.png","serverAuth":"any","serverClassification":"None","sessionTimeout":"3600","licenseStatus":"Valid","ACAS":"false","freshInstall":"no","headerText":"","loginNotifications":"false","PasswordComplexity":"false","telemetryEnabled":"false","timezones":[{"name":"Africa\/Abidjan","gmtOffset":0},{"name":"Africa\/Accra","gmtOffset":0},{"name":"Africa\/Addis_Ababa","gmtOffset":3},{"name":"Africa\/Algiers","gmtOffset":1},{"name":"Africa\/Asmara","gmtOffset":3},{"name":"Africa\/Bamako","gmtOffset":0},{"name":"Africa\/Bangui","gmtOffset":1},{"name":"Africa\/Banjul","gmtOffset":0},{"name":"Africa\/Bissau","gmtOffset":0},{"name":"Africa\/Blantyre","gmtOffset":2},{"name":"Africa\/Brazzaville","gmtOffset":1},{"name":"Africa\/Bujumbura","gmtOffset":2},{"name":"Africa\/Cairo","gmtOffset":2},{"n[...]
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/token
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"lastLogin":"1550188299","lastLoginIP":"192.168.100.136","failedLogins":"0","failedLoginIP":"192.168.100.136","lastFailedLogin":"1550183971","token":"0000000000","unassociatedCert":"false"},"error_code":0,"error_msg":"","warnings":[],"timestamp":1550189100}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/token
  response:
    body: {string: !!python/unicode '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1550189107}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}