interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/scanResult?optimizeCompletedScanResults=true
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"usable":[{"id":"120","name":"Daily
        Agent Scan [Agent Scan Import]","description":"","status":"Completed"},{"id":"121","name":"Daily
        Internal Scan","description":"","status":"Completed"},{"id":"122","name":"Daily
        Agent Scan [Agent Scan Import]","description":"","status":"Completed"},{"id":"123","name":"Daily
        Internal Scan","description":"","status":"Partial"},{"id":"124","name":"Daily
        Agent Scan [Agent Scan Import]","description":"","status":"Completed"}],"manageable":[{"id":"120","name":"Daily
        Agent Scan [Agent Scan Import]","description":"","status":"Completed"},{"id":"121","name":"Daily
        Internal Scan","description":"","status":"Completed"},{"id":"122","name":"Daily
        Agent Scan [Agent Scan Import]","description":"","status":"Completed"},{"id":"123","name":"Daily
        Internal Scan","description":"","status":"Partial"},{"id":"124","name":"Daily
        Agent Scan [Agent Scan Import]","description":"","status":"Completed"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1550189100}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}