interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumasset", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2021766805']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":34,"returnedRecords":5,"startOffset":0,"endOffset":5,"matchingDataElementCount":134116,"results":[{"count":"64187","asset":{"id":"2","name":"Systems
        that have been Scanned","description":"This asset uses the Scan Summary plugin
        to detect if a host has been scanned by Nessus. The Scan Summary plugin contains
        the list of tests conducted during the most recent scan.","type":"dynamic","status":"0"}},{"count":"25169","asset":{"id":"9","name":"Linux
        Hosts","description":"The operating system detected has Linux installed.","type":"dynamic","status":"0"}},{"count":"25154","asset":{"id":"15","name":"Systems
        with Software inventory","description":"This asset detects systems where software
        enumeration has been conducted within the last 30 days. There are 3 plugins
        used for software inventory, one for Windows, Linux, and Solaris.","type":"dynamic","status":"0"}},{"count":"7735","asset":{"id":"23","name":"SSL
        or TLS Servers","description":"This asset list uses active and passive plugins
        to detect servers running SSL and TLS.","type":"dynamic","status":"0"}},{"count":"5664","asset":{"id":"19","name":"Bad
        Credentials","description":"The Nessus scanner testing the remote host has
        been given SMB credentials to log into the remote host, however these credentials
        do not have administrative privileges.  Local security checks have been disabled
        for this host because either the credentials supplied in the scan policy did
        not allow Nessus to log into it or some other problem occurred.\n\nThis will
        be helpful for those getting started with SecurityCenter.","type":"dynamic","status":"0"}}],"startTime":1544994095,"endTime":1545080495},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080495}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
