interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/scanner
  response:
    body: {string: !!python/unicode '{"type":"regular","response":[{"id":"1","name":"Internal
        Scanner","description":"","agentCapable":"false","status":"1"},{"id":"2","name":"Tenable.io","description":"","agentCapable":"true","status":"1"},{"id":"13","name":"Example","description":"","agentCapable":"false","status":"8192"}],"error_code":0,"error_msg":"","warnings":[],"timestamp":1553266988}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
