interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumconns", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":881,"returnedRecords":5,"startOffset":0,"endOffset":5,"matchingDataElementCount":48181,"results":[{"source
        ip":"192.168.101.179","destination ip":"192.168.101.1","count":"21431"},{"source
        ip":"192.168.101.1","destination ip":"192.168.101.1","count":"5522"},{"source
        ip":"192.168.106.147","destination ip":"192.168.101.30","count":"5488"},{"source
        ip":"192.168.106.100","destination ip":"192.168.106.1","count":"1189"},{"source
        ip":"192.168.104.171","destination ip":"192.168.106.100","count":"908"}],"startTime":1544993856,"endTime":1545080256},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080256}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "sumconns", "type": "event", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":881,"returnedRecords":5,"startOffset":5,"endOffset":10,"matchingDataElementCount":48208,"results":[{"source
        ip":"192.168.104.188","destination ip":"192.168.106.100","count":"851"},{"source
        ip":"192.168.104.189","destination ip":"192.168.106.100","count":"851"},{"source
        ip":"192.168.106.100","destination ip":"192.168.101.115","count":"657"},{"source
        ip":"192.168.101.115","destination ip":"192.168.101.115","count":"566"},{"source
        ip":"192.168.106.100","destination ip":"192.168.101.179","count":"439"}],"startTime":1544993857,"endTime":1545080257},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080257}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
