interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumevent", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":76,"returnedRecords":5,"startOffset":0,"endOffset":5,"matchingDataElementCount":48208,"results":[{"event":"Apache-405_PUT","description":"The
        Apache web server encountered an invalid web put which returned an Apache
        error code in the 400 range.","file":"web_apache.prm","24-hour plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,4,0,0,0,0","count":"6"},{"event":"Apache-Content_CSS_Request","description":"This
        Apache web server has detected a system browsing the network via HTTP with
        a web request for a web site''s cascading style sheet file.","file":"web_apache.prm","24-hour
        plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0","count":"3"},{"event":"Apache-GET_CGI_Request_PageNotFound","description":"This
        Apache webserver had a request for an invalid or non-existent CGI script.","file":"web_apache.prm","24-hour
        plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,258,474,0,0,0,0","count":"732"},{"event":"Daily_Host_Alert","description":"The
        Log Correlation Engine has detected the first time a host was seen active
        today.","file":"lce_tasl.prm","24-hour plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18,12,1,2","count":"33"},{"event":"DHCP-Ack","description":"A
        DHCP ACK was issued to, on or from an IP.","file":"dhcp.prm","24-hour plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,21,12,21,14,27,15","count":"116"}],"startTime":1544993862,"endTime":1545080262},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080262}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
