---
interactions:
  - request:
      body: null
      headers:
        X-SecurityCenter: ['0000000000']
      method: GET
      uri: https://securitycenter.home.cugnet.net/rest/recastRiskRule/1?fields=id,hostType,hostValue,port
    response:
      body: {string: !!python/unicode '{"type":"regular","response":{"id":"3","hostType":"ip",
            "hostValue":"127.0.0.1","port":"any"},"error_code":0,"error_msg":"","warnings":[],"timestamp":1554731791}'}
      headers:
        content-type: [application/json]
        securitycenter: [5.8.0]
      status: {code: 200, message: OK}
version: 1
