interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "summdmuser", "type": "mobile", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "mobile", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"68","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"68:0:0:0:0:68:0
        ","results":[{"user":"John Doe","total":"1","score":"0","severityInfo":"1","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0"},{"user":"John0
        Doe0","total":"1","score":"0","severityInfo":"1","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0"},{"user":"John5
        Doe5","total":"1","score":"0","severityInfo":"1","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0"},{"user":"SOMECORP.COM\/Jane1
        Doe1","total":"1","score":"0","severityInfo":"1","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0"},{"user":"SOMECORP.COM\/Jane10
        Doe10","total":"1","score":"0","severityInfo":"1","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080238}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
