---
interactions:
  - request:
      body: null
      headers:
        X-SecurityCenter:
          - '0000000000'
      method: GET
      uri: https://securitycenter.home.cugnet.net/rest/asset?fields=id,name
    response:
      body:
        string: '{"type":"regular","response":{"usable":[{"id":"0","name":"All Defined
        Ranges"},{"id":"2","name":"Systems
        that have been Scanned"},{"id":"3","name":"Windows
        Hosts"}],"manageable":[{"id":"1","name":"Systems
        Discovered Passively"},{"id":"2","name":"Systems
        that have been Scanned"},{"id":"3","name":"Windows
        Hosts"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1560973013}'
      headers:
        Content-Type:
          - application/json
        SecurityCenter:
          - 5.8.0
      status:
        code: 200
        message: OK
version: 1
