interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "vulnipdetail", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"358","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"1629","results":[{"pluginID":"10092","total":"1","severity":{"id":"0","name":"Info","description":"Informative"},"name":"FTP
        Server Detection","pluginDescription":"It is possible to obtain the banner
        of the remote FTP server by connecting to a remote port.","hosts":[{"iplist":[{"ip":"192.168.101.30","uuid":"","macAddress":"00:11:32:63:a1:cf","netbiosName":"WORKGROUP\\DISKSTATION","dnsName":"diskstation.home.cugnet.net"}],"repository":{"id":"1","name":"Default","description":"","dataFormat":"IPv4"}}],"family":{"id":"24","name":"Service
        detection","type":"active"}},{"pluginID":"10107","total":"19","severity":{"id":"0","name":"Info","description":"Informative"},"name":"HTTP
        Server Type and Version","pluginDescription":"This plugin attempts to determine
        the type and the version of the   remote web server.","hosts":[{"iplist":[{"ip":"192.168.100.1","uuid":"","macAddress":"","netbiosName":"","dnsName":"pfsense.home.cugnet.net"},{"ip":"192.168.100.5","uuid":"","macAddress":"","netbi[...]
[...]
