interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/policy/1000007
  response:
    body: {string: !!python/unicode '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1550267935}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/policy/1000007
  response:
    body: {string: !!python/unicode '{"type":"regular","response":"","error_code":147,"error_msg":"Unable
        to find existing Policy #1000011 to delete.\nPolicy #1000011 does not exist.\n","warnings":[],"timestamp":1550267936}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 403, message: Forbidden}
version: 1
