---
interactions:
  - request:
      body: null
      headers:
        Ac cept-Encoding: ['gzip, deflate']
        X-SecurityCenter: ['0000000000']
      method: GET
      uri: https://securitycenter.home.cugnet.net/rest/acceptRiskRule?fields=id,hostType,port&organizationIDs=1,2&pluginID=1&port=1234&repositoryIDs=3,4
    response:
      body: {string: !!python/unicode '{"type":"regular","response":[{"id":"5","hostType":"ip","port":"any"},{"id":"6","hostType":"ip","port":"any"}],"error_code":0,"error_msg":"","warnings":[],"timestamp":1553612053}'}
      headers:
        content-type: [application/json]
        securitycenter: [5.8.0]
      status: {code: 200, message: OK}
