interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/policyTemplate/1
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"1","name":"Advanced
        Scan","description":"Configure a scan without using any recommendations.","editor":"{\"plugins\":\"true\",\"compliance\":\"true\",\"globalSettings\":[{\"id\":\"hpprocurve\",\"name\":\"HP
        ProCurve\",\"preferenceID\":\"procurve_config_to_audit\"},{\"id\":\"cisco\",\"name\":\"Cisco
        IOS\",\"preferenceID\":\"cisco_config_to_audit\"}],\"credentials\":\"{\\\"groups\\\":[{\\\"id\\\":\\\"host\\\",\\\"name\\\":\\\"Host\\\",\\\"credentials\\\":[{\\\"name\\\":\\\"SNMPv3\\\",\\\"max\\\":1,\\\"id\\\":\\\"snmpv3\\\",\\\"showSectionIDs\\\":[\\\"snmp\\\"],\\\"displayFields\\\":[{\\\"label\\\":\\\"User\\\",\\\"inputID\\\":\\\"username\\\"},{\\\"label\\\":\\\"Security\\\",\\\"inputID\\\":\\\"security_level\\\"}],\\\"inputs\\\":[{\\\"type\\\":\\\"entry\\\",\\\"name\\\":\\\"Username\\\",\\\"id\\\":\\\"username\\\"},{\\\"type\\\":\\\"entry\\\",\\\"name\\\":\\\"Port\\\",\\\"regex\\\":\\\"^([0-9]{1,4}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$\\\",\\\"default\\\":\\\"161\\\",\\\"id\\\":\\\"port\\\"},{\\\"type\\\":\\\"dropdown\\\",\\\"name\\\":\\\"Security
        Level\\\",\\\"default\\\":\\\"Authentication and privacy\\\",\\\"id\\\":\\\"security_level\\\",\\\"options\\\":[\\\"No
        authentication and no privacy\\\",\\\"Authentication without privacy\\\",\\\"Authentication
        and privacy\\\"],\\\"conditionalSettings\\\":{\\\"Authentication without privacy\\\":{\\\"inputs\\\":[{\\\"type\\\":\\\"dropdown\\\",\\\"name\\\":\\\"Authentication
        algorithm\\\",\\\"default\\\":\\\"SHA1\\\",\\\"options\\\":[\\\"SHA1\\\",\\\"MD5\\\"],\\\"id\\\":\\\"auth_algorithm\\\"},{\\\"type\\\":\\\"password\\\",\\\"name\\\":\\\"Authentication
        password\\\",\\\"id\\\":\\\"auth_password\\\"}]},\\\"Authentication and privacy\\\":{\\\"inputs\\\":[{\\\"type\\\":\\\"dropdown\\\",\\\"name\\\":\\\"Authentication
        algorithm\\\",\\\"default\\\":\\\"SHA1\\\",\\\"options\\\":[\\\"SHA1\\\",\\\"MD5\\\"],\\\"id\\\":\\\"auth_algorithm\\\"},{\\\"type\\\":\\\"password\\\",\\\"name\\\":\\\"Authentication
        password\\\",\\\"id\\\":\\\"auth_password\\\"},{\\\"type\\\":\\\"dropdown\\\",\\\"name\\\":\\\"Privacy
        algorithm\\\",\\\"default\\\":\\\"AES\\\",\\\"options\\\":[\\\"AES\\\",\\\"DES\\\"],\\\"id\\\":\\\"privacy_algorithm\\\"},{\\\"type\\\":\\\"password\\\",\\\"name\\\":\\\"Privacy
        password\\\",\\\"id\\\":\\\"privacy_password\\\"}]}}}]}]},{\\\"id\\\":\\\"database\\\",\\\"name\\\":\\\"Database\\\",\\\"credentials\\\":[{\\\"id\\\":\\\"mongodb\\\",\\\"name\\\":\\\"MongoDB\\\",\\\"max\\\":1,\\\"displayFields\\\":[{\\\"label\\\":\\\"User\\\",\\\"inputID\\\":\\\"username\\\"}],\\\"showSectionIDs\\\":[\\\"windows_auth\\\"],\\\"inputs\\\":[{\\\"type\\\":\\\"entry\\\",\\\"name\\\":\\\"Username\\\",\\\"id\\\":\\\"username\\\",\\\"required\\\":\\\"true\\\"},{\\\"type\\\":\\\"password\\\",\\\"name\\\":\\\"Password\\\",\\\"id\\\":\\\"password\\\",\\\"required\\\":\\\"true\\\"},{\\\"type\\\":\\\"entry\\\",\\\"name\\\":\\\"Database\\\",\\\"id\\\":\\\"database\\\",\\\"default\\\":\\\"admin\\\",\\\"required\\\":\\\"true\\\"},{\\\"type\\\":\\\"small-entry\\\",\\\"name\\\":\\\"Port\\\",\\\"id\\\":\\\"port\\\",\\\"default\\\":\\\"27017\\\",\\\"regex\\\":\\\"^([0-9]{1,4}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$\\\"[...]
