interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/repository/6
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"7","name":"Example
        Repo","description":"","type":"Local","dataFormat":"IPv4","remoteID":null,"remoteIP":null,"running":"false","downloadFormat":"v2","lastSyncTime":"0","createdTime":"1550707449","modifiedTime":"1550707449","lastVulnUpdate":"1550707449","vulnCount":"0","organizations":[],"typeFields":{"correlation":[],"nessusSchedule":{"type":"never","start":"","repeatRule":""},"ipRange":"0.0.0.0\/0","ipCount":"0","runningNessus":"false","lastGenerateNessusTime":"0","trendingDays":"0","trendWithRaw":"false","lastTrendUpdate":"0"}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1550707449}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/repository/6
  response:
    body: {string: !!python/unicode '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1550707450}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
