interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "listvuln", "type": "mobile", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "mobile", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"244","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"-1
        ","results":[{"pluginID":"60035","severity":{"id":"0","name":"Info","description":"Informative"},"identifier":"iPad\/roL89WeF21YvMYPryaT8KileVoCFnintNfh515lk","pluginName":"MDM
        Mobile Device Reporting","repository":{"id":"3","name":"GoodMDM","description":"","dataFormat":"mobile"}},{"pluginID":"60035","severity":{"id":"0","name":"Info","description":"Informative"},"identifier":"iPad\/yk1Ts71l2oIdEJN4E7if5RYLmxyrDlZS6p1p3o1G","pluginName":"MDM
        Mobile Device Reporting","repository":{"id":"3","name":"GoodMDM","description":"","dataFormat":"mobile"}},{"pluginID":"60026","severity":{"id":"3","name":"High","description":"High
        Severity"},"identifier":"iPhone\/M1DUzuSKEg","pluginName":"Apple iOS < 5.0
        Multiple Vulnerabilities (BEAST)","repository":{"id":"3","name":"GoodMDM","description":"","dataFormat":"mobile"}},{"pluginID":"64287","severity":{"id":"3","name":"High","description":"High
        Severity"},"identifier":"iPhone\/M1DUzuSKEg","pluginName":"Apple iOS < 6.1
        Multiple Vulnerabilities","repository":{"id":"3","name":"GoodMDM","description":"","dataFormat":"mobile"}},{"pluginID":"60028","severity":{"id":"3","name":"High","description":"High
        Severity"},"identifier":"iPhone\/M1DUzuSKEg","pluginName":"Apple iOS < 5.1
        Multiple Vulnerabilities","repository":{"id":"3","name":"GoodMDM","description":"","dataFormat":"mobile"}}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080236}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
