interactions:
- request:
    body: !!python/unicode '{"name": "Edited Example Scan"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2068473896']
    method: PATCH
    uri: https://securitycenter.home.cugnet.net/rest/scan/9
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"30","name":"Edited
        Example Scan","description":"","ipList":"127.0.0.1","type":"policy","dhcpTracking":"false","classifyMitigatedAge":"0","emailOnLaunch":"false","emailOnFinish":"false","timeoutAction":"import","scanningVirtualHosts":"false","rolloverType":"template","status":"0","createdTime":"1545177471","modifiedTime":"1545177472","maxScanTime":"3600","reports":[],"assets":[],"credentials":[],"numDependents":"0","schedule":{"id":"78","objectType":"scan","type":"template","start":"","repeatRule":"","nextRun":0},"policy":{"id":"1000001","context":"","name":"Full
        Safe Scan","description":"","tags":"","owner":{"id":"1","username":"steve","firstname":"Steve","lastname":"McGrath"},"ownerGroup":{"id":"0","name":"Full
        Access","description":"Full Access group"}},"policyPrefs":[{"name":"[authPref]adsi","value":"bD4kSG8OVQpX0HkZMxWXASMC9Xz8d2jn+1GCo42Q\/o4="},{"name":"[authPref]altiris","value":"ctbe9Lz9kESPzHB+k9RpHxz0usKmL2o\/ZvNG8Pv8yS4="},{"name":"[authPref]ftp","value":"VpnaTUFVqYeSf76xFeXYhwWCpTkhzMQZ\/rJqJudpPwg="},{"name":"[authPref]http","value":"NID2Bee3Pej\/nZv0cQBBkCxuqBbtYzMuM11cHCbHgws="},{"name":"[authPref]ibm_iseries","value":"GW2sCY1Yru73CTXVKYsAmNEZwNAfDwtOHNP6BGs2rMc="},{"name":"[authPref]ibm_tem","value":"W\/6\/LRQk+n9IhW0lDlDZoOBv1cZ8u5hi8m2h7G+mOfE="},{"name":"[authPref]imap","val[...]
- request:
    body: null
    headers:
      X-SecurityCenter: ['2068473896']
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/scan/9
  response:
    body: {string: !!python/unicode '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1545177472}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
