---
interactions:
  - request:
      body: !!python/unicode '{"name": "Example Scan 9", "repository": {"id": 9}, "schedule":
        {"type": "template"}, "plugin": {"id": 1000001}, "ipList": "127.0.0.1", "type":
        "plugin"}'
      headers:
        Content-Type: [application/json]
        X-SecurityCenter: ['2020286505']
      method: POST
      uri: https://securitycenter.home.cugnet.net/rest/scan
    response:
      body: {string: !!python/unicode '{"type":"regular","response":{"id":"9","name":"Example
          Scan","description":"","ipList":"127.0.0.1","type":"plugin","dhcpTracking":"false","classifyMitigatedAge":"0",
          "emailOnLaunch":"false","emailOnFinish":"false","timeoutAction":"import","scanningVirtualHosts":"false",
          "rolloverType":"template","status":"0","createdTime":"1545176959","modifiedTime":"1545176959",
          "maxScanTime":"3600","reports":[],"assets":[],"credentials":[],"numDependents":"0",
          "schedule":{"id":"57","objectType":"scan","type":"template","start":"","repeatRule":"","nextRun":0},
          "policy":{"id":"1000001","context":"","name":"Full Safe Scan","description":"","tags":"","owner":{"id":"1",
          "username":"steve","firstname":"Steve","lastname":"McGrath"},"ownerGroup":{"id":"0","name":"Full
          Access","description":"Full Access group"}},"policyPrefs":[],"repository":{"id":"1","name":"Default",
          "description":""},"canUse":"true","canManage":"true","plugin":{"id": 1000001,"name":"","description":""},
          "zone":{"id":-1,"name":"","description":""},"ownerGroup":{"id":"0","name":"Full
          Access","description":"Full Access group"},"creator":{"id":"2","username":"api",
          "firstname":"api","lastname":"user"},"owner":{"id":"2","username":"api","firstname":"api","lastname":"user"}},
          "error_code":0,"error_msg":"","warnings":[],"timestamp":1545176959}'}
      headers:
        content-type: [application/json]
        securitycenter: [5.8.0]
      status: {code: 200, message: OK}

  - request:
      body: null
      headers:
        X-SecurityCenter: ['2068473896']
      method: DELETE
      uri: https://securitycenter.home.cugnet.net/rest/scan/9
    response:
      body: {string: !!python/unicode '{"type":"regular","response":"",
      "error_code":0,"error_msg":"","warnings":[],"timestamp":1545177470}'}
      headers:
        content-type: [application/json]
        securitycenter: [5.8.0]
      status: {code: 200, message: OK}
version: 1
