interactions:
- request:
    body: null
    headers:
      TNS_SESSIONID:
      - a3e580857318b12388f4ae3d0ab31a98
      X-SecurityCenter:
      - '0000000000'
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/organization?fields=id%2Cname%2Cdescription
  response:
    body:
      string: '{"type":"regular","response":[{"id":"1","name":"org","description":""}],"error_code":0,"error_msg":"","warnings":[],"timestamp":1627573437}

        '
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
version: 1
