interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "summsbulletin", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"30","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"31:0:0:0:0:0:0:30","results":[{"msbulletinID":"MS18-4471324","severity":{"id":"4","name":"Critical","description":"Critical
        Severity"},"total":"2","hostTotal":"1"},{"msbulletinID":"MS15-124","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"1","hostTotal":"1"},{"msbulletinID":"MS18-4346084","severity":{"id":"2","name":"Medium","description":"Medium
        Severity"},"total":"1","hostTotal":"1"},{"msbulletinID":"MS18-4346085","severity":{"id":"2","name":"Medium","description":"Medium
        Severity"},"total":"1","hostTotal":"1"},{"msbulletinID":"MS18-4346086","severity":{"id":"2","name":"Medium","description":"Medium
        Severity"},"total":"1","hostTotal":"1"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080217}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "summsbulletin", "type": "vuln", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"30","returnedRecords":5,"startOffset":"5","endOffset":"10","matchingDataElementCount":"31:0:0:0:0:0:0:30","results":[{"msbulletinID":"MS18-4346087","severity":{"id":"2","name":"Medium","description":"Medium
        Severity"},"total":"1","hostTotal":"1"},{"msbulletinID":"MS18-4346088","severity":{"id":"2","name":"Medium","description":"Medium
        Severity"},"total":"1","hostTotal":"1"},{"msbulletinID":"MS18-4470637","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"1","hostTotal":"1"},{"msbulletinID":"MS18-4470493","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"1","hostTotal":"1"},{"msbulletinID":"MS18-4470492","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"1","hostTotal":"1"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080218}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
