interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumip", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"33","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"1629:19:146:176:32:1256:2780","results":[{"ip":"192.168.100.1","uuid":"","score":"49","total":"43","severityInfo":"39","severityLow":"0","severityMedium":"3","severityHigh":"0","severityCritical":"1","macAddress":"","policyName":"3ae050e2-486c-5c1a-a6a5-45305557cec3-621\/Full
        Safe Scan","pluginSet":"201812150336","netbiosName":"","dnsName":"pfsense.home.cugnet.net","osCPE":"cpe:\/o:freebsd:freebsd:11.1","biosGUID":"","tpmID":"","mcafeeGUID":"","lastAuthRun":"","lastUnauthRun":"1545071370","uniqueness":"repositoryID,ip,dnsName","repository":{"id":"1","name":"Default","description":"","dataFormat":"IPv4"}},{"ip":"192.168.100.3","uuid":"","score":"0","total":"10","severityInfo":"10","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","macAddress":"","policyName":"3ae050e2-486c-5c1a-a6a5-45305557cec3-621\/Full
        Safe Scan","pluginSet":"201812150336","netbiosName":"","dnsName":"officeswitch.home.cugnet.net","osCPE":"cpe:\/o:fortinet:fortios","biosGUID":"","tpmID":"","mcafeeGUID":"","lastAuthRun":"","lastUnauthRun":"1545071397","uniqueness":"repositoryID,ip,[...]
[...]
