interactions:
- request:
    body: '{"orgID": 1, "repIDs": [{"id": 1}]}'
    headers:
      Content-Type:
      - application/json
      X-SecurityCenter:
      - '0000000000'
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/asset/35/refresh
  response:
    body:
      string: '{"type":"regular","response":{"orgID":1,"repIDs":[{"id":1}],"id":"50"},"error_code":0,"error_msg":"","warnings":[],"timestamp":1561038822}

'
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.8.0
    status:
      code: 200
      message: OK
version: 1
