interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "summodel", "type": "mobile", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "mobile", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"5","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"244:16:126:7:0:95:1921:95
        ","results":[{"model":"Android","total":"43","deviceCount":"43","score":"0","severityInfo":"43","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0"},{"model":"WinPhone","total":"14","deviceCount":"7","score":"21","severityInfo":"7","severityLow":"0","severityMedium":"7","severityHigh":"0","severityCritical":"0"},{"model":"WindowsCE","total":"6","deviceCount":"6","score":"0","severityInfo":"6","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0"},{"model":"iPad","total":"2","deviceCount":"2","score":"0","severityInfo":"2","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0"},{"model":"iPhone","total":"179","deviceCount":"37","score":"1900","severityInfo":"37","severityLow":"0","severityMedium":"0","severityHigh":"126","severityCritical":"16"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080239}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
