interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/pluginFamily/10
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"10","name":"Windows
        : Microsoft Bulletins","type":"active","plugins":[{"id":"10433","name":"MS00-029:
        NT IP Fragment Reassembly Patch Not Applied (jolt2) (259728)","description":"The
        hotfix for the ''IP Fragment Reassembly'' vulnerability has not been applied
        on the remote Windows host.\n\nThis vulnerability allows an attacker to send
        malformed packets, which will utilize 100% of the computer CPU, making it
        nearly unusable for the legitimate users."},{"id":"10434","name":"MS00-036:
        NT ResetBrowser frame & HostAnnouncement flood patch (262694)","description":"The
        hotfix for the ''ResetBrowser Frame'' and the ''HostAnnouncem[...]
