interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/query/740
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"742","name":"New
        Query","description":"","tool":"vulndetails","type":"vuln","tags":"","context":"","browseColumns":"","browseSortColumn":"","browseSortDirection":"ASC","createdTime":"1556816692","modifiedTime":"1556816692","status":"0","filters":[],"groups":[],"canUse":"true","canManage":"true","creator":{"id":"2","username":"api","firstname":"api","lastname":"user"},"owner":{"id":"2","username":"api","firstname":"api","lastname":"user"},"ownerGroup":{"id":"0","name":"Full
        Access","description":"Full Access group"},"targetGroup":{"id":-1,"name":"","description":""}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1556816692}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
