interactions:
- request:
    body: !!python/unicode '{"name": "NewName"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: PATCH
    uri: https://securitycenter.home.cugnet.net/rest/zone/2
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"8","name":"NewName","description":"","ipList":"192.168.0.0\/24","createdTime":"1553205886","modifiedTime":"1553205886","scanners":[],"organizations":[],"activeScanners":0,"totalScanners":0},"error_code":0,"error_msg":"","warnings":[],"timestamp":1553205886}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
