interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumid", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"358","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"1629:19:146:176:32:1256:2780:1287","results":[{"pluginID":"10092","total":"1","severity":{"id":"0","name":"Info","description":"Informative"},"name":"FTP
        Server Detection","hostTotal":"1","family":{"id":"24","name":"Service detection","type":"active"}},{"pluginID":"10107","total":"26","severity":{"id":"0","name":"Info","description":"Informative"},"name":"HTTP
        Server Type and Version","hostTotal":"19","family":{"id":"11","name":"Web
        Servers","type":"active"}},{"pluginID":"10114","total":"22","severity":{"id":"0","name":"Info","description":"Informative"},"name":"ICMP
        Timestamp Request Remote Date Disclosure","hostTotal":"22","family":{"id":"30","name":"General","type":"active"}},{"pluginID":"10150","total":"2","severity":{"id":"0","name":"Info","description":"Informative"},"name":"Windows
        NetBIOS \/ SMB Remote Host Information Disclosure","hostTotal":"2","family":{"id":"20","name":"Windows","type":"active"}},{"pluginID":"10223","total":"1","severity":{"id":"0","name":"Info","description":"Informative"},"name":"RPC
        portmapper Service Detection","hostTotal":"1","family":{"id":"28","name":"RPC","type":"active"}}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080215}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
