interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/scanner/9
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"10","name":"Example","description":"","ip":"127.0.0.1","port":"8834","useProxy":"false","enabled":"true","verifyHost":"false","managePlugins":"false","authType":"password","cert":null,"username":"nouser","password":"SET","agentCapable":"false","version":null,"webVersion":null,"admin":"false","msp":"false","numScans":"0","numHosts":"0","numSessions":"0","numTCPSessions":"0","loadAvg":"0.0","uptime":-1,"status":"8192","pluginSet":null,"loadedPluginSet":null,"serverUUID":null,"createdTime":"1553266985","modifiedTime":"1553266985","zones":[],"nessusManagerOrgs":[],"certInfo":""},"error_code":0,"error_msg":"","warnings":[],"timestamp":1553266985}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
