interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['2068473896']
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/scan/9
  response:
    body: {string: !!python/unicode '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1545177474}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-SecurityCenter: ['2068473896']
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/scan/9
  response:
    body: {string: !!python/unicode '{"type":"regular","response":"","error_code":147,"error_msg":"Unable
        to find existing Scan #31 to delete.\nScan #31 does not exist.\n","warnings":[],"timestamp":1545177474}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 403, message: Forbidden}
version: 1
