interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/policyTemplate
  response:
    body: {string: !!python/unicode '{"type":"regular","response":[{"id":"1","name":"Advanced
        Scan","description":"Configure a scan without using any recommendations."},{"id":"2","name":"Host
        Discovery","description":"A simple scan to discover live hosts and open ports."},{"id":"3","name":"Basic
        Network Scan","description":"A full system scan suitable for any host."},{"id":"4","name":"Credentialed
        Patch Audit","description":"Authenticate to hosts and enumerate missing updates."},{"id":"5","name":"Web
        Application Tests","description":"Scan for published and unknown web vulnera[...]
