---
interactions:
  - request:
      body: null
      headers:
        X-SecurityCenter: ['0000000000']
      method: POST
      uri: https://securitycenter.home.cugnet.net/rest/repository/200001/updateMobileData
    response:
      body: {string: !!python/unicode '{"type":"regular","response":"",
      "error_code":0,"error_msg":"","warnings":[],"timestamp":1550707449}'}
      headers:
        content-disposition: [attachment; filename=securitycenter.home.cugnet.net-repository-4.tar.gz]
        content-transfer-encoding: [BASE64;]
        content-type: [application/x-compressed]
        securitycenter: [5.8.0]
      status: {code: 200, message: OK}
version: 1
