interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumclassa", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"2","returnedRecords":2,"startOffset":"0","endOffset":"5","matchingDataElementCount":"1629:19:146:176:32:1256:2780","results":[{"ip":"192.0.0.0\/8","score":"1528","total":"475","severityInfo":"305","severityLow":"8","severityMedium":"70","severityHigh":"79","severityCritical":"13","repository":{"id":"2","name":"Agents","description":"","dataFormat":"agent"}},{"ip":"192.0.0.0\/8","score":"1252","total":"1154","severityInfo":"951","severityLow":"24","severityMedium":"106","severityHigh":"67","severityCritical":"6","repository":{"id":"1","name":"Default","description":"","dataFormat":"IPv4"}}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080202}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
