interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "cceipdetail", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"0","returnedRecords":0,"startOffset":"0","endOffset":"5","matchingDataElementCount":"1629","results":[]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080186}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
