interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "listos", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"18","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"29","results":[{"count":"3","detectionMethod":"Active","name":"FreeBSD
        11.1-RELEASE-p10 (amd64)"},{"count":"3","detectionMethod":"Active","name":"Linux
        Kernel 3.10.0-327.el7.x86_64 on CentOS Linux release 7.6.1810 (Core)"},{"count":"2","detectionMethod":"Active","name":"FortiOS
        on Fortinet FortiGate"},{"count":"2","detectionMethod":"Active","name":"Linux
        Kernel 3.10.0-862.14.4.el7.x86_64 on CentOS Linux release 7.6.1810 (Core)"},{"count":"2","detectionMethod":"Active","name":"Linux
        Kernel 3.10.0-514.6.1.el7.x86_64 on CentOS Linux release 7.3.1611 (Core)"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080195}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "listos", "type": "vuln", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"18","returnedRecords":5,"startOffset":"5","endOffset":"10","matchingDataElementCount":"29","results":[{"count":"2","detectionMethod":"Active","name":"Linux
        Kernel 3.10.0-862.3.3.el7.x86_64 on CentOS Linux release 7.6.1810 (Core)"},{"count":"2","detectionMethod":"Active","name":"Linux
        Kernel 3.10.0-693.21.1.el7.x86_64 on CentOS Linux release 7.4.1708 (Core)"},{"count":"2","detectionMethod":"Active","name":"Linux
        Kernel 3.10.0-514.6.1.el7.x86_64 on CentOS Linux release 7.6.1810 (Core)"},{"count":"2","detectionMethod":"Active","name":"Sonos,
        Inc. Sonos CONNECT:AMP ZP120"},{"count":"1","detectionMethod":"Active","name":"CISCO
        IOS 15\nCISCO IOS 12\nCisco IOS XE\nCISCO PIX"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080195}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
