---
interactions:
  - request:
      body: null
      headers:
        X-SecurityCenter: ['0000000000']
      method: GET
      uri: https://securitycenter.home.cugnet.net/rest/pluginFamily/10?fields=id,name,type
    response:
      body: {string: !!python/unicode '{"type":"regular","response":{"id":"10","name":"Windows: Microsoft Bulletins",
            "type":"active"},"error_code":0,"error_msg":"","warnings":[],"timestamp":1556296095}'}
      headers:
        content-type: [application/json]
        securitycenter: [5.8.0]
      status: {code: 200, message: OK}
version: 1
