interactions:
- request:
    body: !!python/unicode '{"repository": {"id": 1}}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/recastRiskRule/1/apply
  response:
    body: {string: !!python/unicode '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1554731794}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
