interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/pluginFamily/10/plugins?startOffset=0&endOffset=100
  response:
    body: {string: !!python/unicode '{"type":"regular","response":[{"id":"0","name":"Open
        Port","description":"Port is open"},{"id":"1","name":"Passive OS Detection","description":"PVS
        uses multiple passive fingerprinting techniques to identify operating systems.
        This includes methods from TCP header analysis to application-level identification.
        The accuracy of the detection should improve as more traffic is observed."},{"id":"2","name":"Client
        side port usage","description":"PVS tracks which TCP ports a host has established
        connections with and may help identify [...]
[...]
