interactions:
- request:
    body: null
    headers:
      X-SecurityCenter:
      - '0000000000'
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/asset/1?orgID=1
  response:
    body:
      string: '{"type":"regular","response":{"id":"1","name":"Systems Discovered Passively","type":"dynamic","description":"This
        asset uses passive plugins for OS detection and hop detection to identify
        hosts on the network.","tags":"","context":"","status":"0","createdTime":"1608580829","modifiedTime":"1608580829","ioSyncStatus":"Not
        Synced","ioFirstSyncTime":"-1","ioLastSyncSuccess":"-1","ioLastSyncFailure":"-1","ioSyncErrorDetails":null,"typeFields":{"rules":{"operator":"any","children":[{"filterName":"pluginid","operator":"eq","value":"12","pluginIDConstraint":"-1","type":"clause"},{"filterName":"pluginid","operator":"eq","value":"1","pluginIDConstraint":"-1","type":"clause"}],"type":"group"}},"repositories":[{"ipCount":"0","repository":{"id":"5","name":"Ministry
        of Magic - Hogwarts","description":""}},{"ipCount":"0","repository":{"id":"6","name":"Ministry
        of Zerg Defense - Sigma Quadrant","description":""}},{"ipCount":"0","repository":{"id":"7","name":"United
        Federation of Planets - Section 10","description":""}},{"ipCount":"0","repository":{"id":"8","name":"Bureau
        of SG Program - SGC","description":""}}],"ipCount":0,"groups":[],"assetDataFields":[],"canUse":"true","canManage":"true","creator":{"id":"1","username":"secmanager","firstname":"","lastname":""},"owner":{"id":"1","username":"secmanager","firstname":"","lastname":""},"ownerGroup":{"id":"0","name":"Full
        Access","description":"Full Access group"},"targetGroup":{"id":-1,"name":"","description":""},"template":{"id":"451","name":"Systems
        Discovered Passively","description":"This asset uses passive plugins for OS
        detection and hop detection to identify hosts on the network."}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1626785833}

        '
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
version: 1
