interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "vulndetails", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"1629","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"-1","results":[{"pluginID":"10107","severity":{"id":"0","name":"Info","description":"Informative"},"hasBeenMitigated":"0","acceptRisk":"0","recastRisk":"0","ip":"192.168.100.1","uuid":"","port":"80","protocol":"TCP","pluginName":"HTTP
        Server Type and Version","firstSeen":"1545074182","lastSeen":"1545074182","exploitAvailable":"No","exploitEase":"","exploitFrameworks":"","synopsis":"A
        web server is running on the remote host.","description":"This plugin attempts
        to determine the type and the version of the   remote web server.","solution":"n\/a","seeAlso":"","riskFactor":"None","stigSeverity":"","baseScore":"","temporalScore":"","cvssVector":"","cvssV3BaseScore":"","cvssV3TemporalScore":"","cvssV3Vector":"","cpe":"","vulnPubDate":"-1","patchPubDate":"-1","pluginPubDate":"947005200","pluginModDate":"1544806800","checkType":"remote","version":"1.133","cve":"","bid":"","xref":"","pluginText":"<plugin_output>The
        remote web server type is :\n\nnginx<\/plugin_output>","dnsName":"pfsense.home.cugnet.net","macAddress":"","netbiosName":"","uniqueness":"repositoryID,ip,dnsName","family":{"id":"11","name":"Web
        Servers","type":"active"},"repository":{"id":"1","name":"Default","description":"","dataFormat":"IPv4"},"pluginInfo":"10107
        (80\/6) HTTP Server Type and Version"},{"pluginID":"10107","severity":{"id":"0","name":"Info","description":"Informative"},"hasBeenMitigated":"0","acceptRisk":"0","recastRisk":"0","ip":"192.168.100.1","uuid":"","port":"443","protocol":"TCP","pluginName":"HTTP
        Server Type and Version","firstSeen":"1545074182","lastSeen":"1545074182","exploitAvailable":"No","exploitEase":"","exploitFrameworks":"","synopsis":"A
        web server is running on the remote host.","description":[...]
[...]
