interactions:
- request:
    body: null
    headers:
      X-SecurityCenter:
      - '0000000000'
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/asset
  response:
    body:
      string: '{"type":"regular","response":{"usable":[{"id":"0","name":"All Defined
        Ranges","description":"All defining ranges of the Group in whose context this
        Asset is being evaluated.","type":"static","status":"0"},{"id":"1","name":"Systems
        Discovered Passively","description":"This asset uses passive plugins for OS
        detection and hop detection to identify hosts on the network.","type":"dynamic","status":"0"},{"id":"2","name":"Systems
        that have been Scanned","description":"This asset uses the Scan Summary plugin
        to detect if a host has been scanned by Nessus. The Scan Summary plugin contains
        the list of tests conducted during the most recent scan.","type":"dynamic[...]
