interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumprotocol", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":3,"returnedRecords":3,"startOffset":0,"endOffset":5,"matchingDataElementCount":48234,"results":[{"protocol":"Unknown(0)","count":"32241"},{"protocol":"TCP(6)","count":"11683"},{"protocol":"UDP(17)","count":"4310"}],"startTime":1544993870,"endTime":1545080270},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080270}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
