interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumclassc", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"7","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"1629:19:146:176:32:1256:2780","results":[{"ip":"192.168.100.0\/24","score":"617","total":"179","severityInfo":"144","severityLow":"0","severityMedium":"9","severityHigh":"15","severityCritical":"11","repository":{"id":"2","name":"Agents","description":"","dataFormat":"agent"}},{"ip":"192.168.100.0\/24","score":"126","total":"167","severityInfo":"138","severityLow":"6","severityMedium":"20","severityHigh":"2","severityCritical":"1","repository":{"id":"1","name":"Default","description":"","dataFormat":"IPv4"}},{"ip":"192.168.101.0\/24","score":"0","total":"74","severityInfo":"74","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","repository":{"id":"2","name":"Agents","description":"","dataFormat":"agent"}},{"ip":"192.168.101.0\/24","score":"911","total":"222","severityInfo":"87","severityLow":"8","severityMedium":"61","severityHigh":"64","severityCritical":"2","repository":{"id":"2","name":"Agents","description":"","dataFormat":"agent"}},{"ip":"192.168.101.0\/24","score":"1077","total":"836","severityInfo":"666","severityLow":"18","severityMedium":"83","severityHigh":"65","severityCritical":"4","repository":{"id":"1","name":"Default","description":"","dataFormat":"IPv4"}}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080203}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "sumclassc", "type": "vuln", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"7","returnedRecords":2,"startOffset":"5","endOffset":"10","matchingDataElementCount":"1629:19:146:176:32:1256:2780","results":[{"ip":"192.168.102.0\/24","score":"49","total":"38","severityInfo":"34","severityLow":"0","severityMedium":"3","severityHigh":"0","severityCritical":"1","repository":{"id":"1","name":"Default","description":"","dataFormat":"IPv4"}},{"ip":"192.168.104.0\/24","score":"0","total":"113","severityInfo":"113","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","repository":{"id":"1","name":"Default","description":"","dataFormat":"IPv4"}}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080204}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
