interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "listsoftware", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"1286","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"5323","results":[{"count":"13","detectionMethod":"Active","name":"aic94xx-firmware-30-6.el7|(none)"},{"count":"13","detectionMethod":"Active","name":"alsa-firmware-1.0.28-2.el7|(none)"},{"count":"13","detectionMethod":"Active","name":"alsa-tools-firmware-1.1.0-1.el7|(none)"},{"count":"13","detectionMethod":"Active","name":"basesystem-10.0-7.el7.centos|(none)"},{"count":"13","detectionMethod":"Active","name":"bzip2-libs-1.0.6-13.el7|(none)"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080196}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "listsoftware", "type": "vuln", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"1286","returnedRecords":5,"startOffset":"5","endOffset":"10","matchingDataElementCount":"5323","results":[{"count":"13","detectionMethod":"Active","name":"centos-logos-70.0.6-3.el7.centos|(none)"},{"count":"13","detectionMethod":"Active","name":"cracklib-2.9.0-11.el7|(none)"},{"count":"13","detectionMethod":"Active","name":"cracklib-dicts-2.9.0-11.el7|(none)"},{"count":"13","detectionMethod":"Active","name":"crontabs-1.11-6.20121102git.el7|(none)"},{"count":"13","detectionMethod":"Active","name":"dbus-glib-0.100-7.el7|(none)"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080196}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
