interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/repository/6/deviceInfo?dnsName=server
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"ip":"192.168.0.1","uuid":"16ee04f6-e9fa-4394-a9d9-f3823c3b1919","score":"1","total":"98","severityInfo":"97","severityLow":"1","severityMedium":"0","severityHigh":"0","severityCritical":"0","macAddress":"00:0c:29:91:cc:a3","policyName":"6d32dff0-2e6e-5fef-982f-80b05a31fcad-54229\/Full
        Safe Scan","pluginSet":"201902181242","netbiosName":"UNKNOWN\\server","dnsName":"server","osCPE":"cpe:\/o:centos:centos:7:update6","biosGUID":"564d0761-89f2-b58d-b62a-bf54b191cca3","tpmID":"","mcafeeGUID":"","lastAuthRun":"1550643025","lastUnauthRun":"1550184636","uniqueness":"repositoryID,ip,dnsName","severityAll":"0,0,0,1,97","os":"Linux
        Kernel 3.10.0-862.14.4.el7.x86_64 on CentOS Linux release 7.6.1810 (Core)","hasPassive":"No","hasCompliance":"No","lastScan":"1550647873","links":[],"repository":{"id":"1","name":"Default","description":""}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1550766130}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/repository/6
  response:
    body: {string: !!python/unicode '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1550707450}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
