interactions:
- request:
    body: !!python/unicode '{"name": "New Cred Name"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: PATCH
    uri: https://securitycenter.home.cugnet.net/rest/credential/1000004
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"1000006","type":"ssh","name":"New
        Cred Name","description":"","tags":"","createdTime":"1556040347","modifiedTime":"1556040348","typeFields":{"authType":"password","username":"root","password":"SET","publicKey":null,"privateKey":null,"passphrase":"","privilegeEscalation":"none","escalationUsername":"","escalationPassword":"","escalationSuUser":"","escalationPath":""},"groups":[],"canUse":"true","canManage":"true","creator":{"id":"2","username":"api","firstname":"api","lastname":"user"},"owner":{"id":"2","username":"api","firstname":"api","lastname":"user"},"ownerGroup":{"id":"0","name":"Full
        Access","description":"Full Access group"},"targetGroup":{"id":-1,"name":"","description":""}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1556040348}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
