interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/scanner/updateStatus
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"status":[{"id":"1","name":"Internal
        Scanner","description":"","status":"8193"},{"id":"2","name":"Tenable.io","description":"","status":"8193"},{"id":"14","name":"Example","description":"","status":"8192"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1553266989}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
