interactions:
- request:
    body: !!python/unicode '{}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2068473896']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/scan/9/launch
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"scanID":"34","scanResult":{"initiatorID":"2","ownerID":"2","scanID":"34","resultsSyncID":-1,"jobID":"3784","repositoryID":"1","name":"Example
        Scan","description":"","details":"Full Safe Scan","status":"Queued","downloadFormat":"v2","dataFormat":"IPv4","resultType":"active","id":"8"}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545177477}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-SecurityCenter: ['2068473896']
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/scan/9
  response:
    body: {string: !!python/unicode '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1545177478}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
