interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/status
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"jobd":"Running","licenseStatus":"Valid","PluginSubscriptionStatus":"Valid","LCEPluginSubscriptionStatus":"Expired","PassivePluginSubscriptionStatus":null,"pluginUpdates":{"active":{"updateTime":"1553156153","stale":"false","pluginCurrentSet":"201903202042"},"passive":{"updateTime":"1553148005","stale":"false"},"lce":{"updateTime":"1550205301","stale":"true"}},"feedUpdates":{"updateTime":"1553145023","stale":"false"},"activeIPs":"46","licensedIPs":"102400"},"error_code":0,"error_msg":"","warnings":[],"timestamp":1553202508}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
