interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/alert
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"usable":[{"id":"1","name":"Test
        Alert","description":"","status":"0"},{"id":"2","name":"test alert1","description":"","status":"0"},{"id":"3","name":"Example
        Alert","description":"","status":"0"}],"manageable":[{"id":"1","name":"Test
        Alert","description":"","status":"0"},{"id":"2","name":"test alert1","description":"","status":"0"},{"id":"3","name":"Example
        Alert","description":"","status":"0"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1550599938}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/alert/8
  response:
    body: {string: !!python/unicode '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1550599939}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
