interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "iavmipdetail", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"15","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"15","results":[{"iavmID":"2017-A-0165","total":"2","hosts":[{"repositoryID":"1","iplist":[{"ip":"192.168.101.130","uuid":"eb6c151b-166f-44ee-8e40-4db763d3a43d","macAddress":"00:0c:29:99:4f:e9","netbiosName":"UNKNOWN\\torrents.home.cugnet.net","dnsName":"torrents.home.cugnet.net"}]},{"repositoryID":"2","iplist":[{"ip":"192.168.101.130","uuid":"eb6c151b-166f-44ee-8e40-4db763d3a43d","macAddress":"00:0c:29:99:4f:e9","netbiosName":"","dnsName":"torrents.home.cugnet.net"}]}]},{"iavmID":"2017-B-0075","total":"2","hosts":[{"repositoryID":"1","iplist":[{"ip":"192.168.101.130","uuid":"eb6c151b-166f-44ee-8e40-4db763d3a43d","macAddress":"00:0c:29:99:4f:e9","netbiosName":"UNKNOWN\\torrents.home.cugnet.net","dnsName":"torrents.home.cugnet.net"}]},{"reposito[...]
[...]
