interactions:
- request:
    body: !!python/unicode '{"name": "Example", "ipList": "192.168.0.0/24"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/zone
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"2","name":"Example","description":"","ipList":"192.168.0.0\/24","createdTime":"1553205832","modifiedTime":"1553205832","scanners":[],"organizations":[],"activeScanners":0,"totalScanners":0},"error_code":0,"error_msg":"","warnings":[],"timestamp":1553205832}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
