interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumclassb", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":263,"returnedRecords":5,"startOffset":0,"endOffset":5,"matchingDataElementCount":48181,"results":[{"class-b":"192.168.0.0\/16","count":"81663"},{"class-b":"0.0.0.0\/16","count":"9562"},{"class-b":"24.15.0.0\/16","count":"843"},{"class-b":"172.217.0.0\/16","count":"477"},{"class-b":"224.0.0.0\/16","count":"390"}],"startTime":1544993851,"endTime":1545080251},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080251}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "sumclassb", "type": "event", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":263,"returnedRecords":5,"startOffset":5,"endOffset":10,"matchingDataElementCount":48181,"results":[{"class-b":"209.208.0.0\/16","count":"380"},{"class-b":"5.188.0.0\/16","count":"215"},{"class-b":"173.194.0.0\/16","count":"213"},{"class-b":"17.36.0.0\/16","count":"211"},{"class-b":"74.125.0.0\/16","count":"211"}],"startTime":1544993852,"endTime":1545080252},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080252}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
