interactions:
- request:
    body: null
    headers:
      X-SecurityCenter:
      - '0000000000'
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/asset/35/export
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<assets>\n\t<asset>\n\t\t<scVersion>5.8.0</scVersion>\n\t\t<name>Example</name>\n\t\t<description></description>\n\t\t<type>static</type>\n\t\t<templateID>-1</templateID>\n\t\t<definition>YToyOntzOjEwOiJkZWZpbmVkSVBzIjtzOjExOiIxOTIuMTY4LjAuMSI7czoxNToiYXNzZXREYXRhRmllbGRzIjthOjA6e319</definition>\n\t</asset>\n</assets>\n"
    headers:
      Content-Disposition:
      - attachment; filename="asset.47.1.xml"
      Content-Transfer-Encoding:
      - BASE64;
      Content-Type:
      - text/xml;charset=UTF-8
      SecurityCenter:
      - 5.8.0
    status:
      code: 200
      message: OK
version: 1
