interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumseverity", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"5","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"1629:19:146:176:32:1256","results":[{"severity":{"id":"4","name":"Critical","description":"Critical
        Severity"},"count":"19"},{"severity":{"id":"3","name":"High","description":"High
        Severity"},"count":"146"},{"severity":{"id":"2","name":"Medium","description":"Medium
        Severity"},"count":"176"},{"severity":{"id":"1","name":"Low","description":"Low
        Severity"},"count":"32"},{"severity":{"id":"0","name":"Info","description":"Informative"},"count":"1256"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080229}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
