interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumiavm", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"15","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"42:0:0:0:0:0:0:28","results":[{"iavmID":"2018-A-0020","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"12","hostTotal":"2"},{"iavmID":"2017-B-0075","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"4","hostTotal":"2"},{"iavmID":"2018-A-0019","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"4","hostTotal":"2"},{"iavmID":"2018-A-0162","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"4","hostTotal":"4"},{"iavmID":"2018-A-0174","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"4","hostTotal":"4"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080211}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "sumiavm", "type": "vuln", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"15","returnedRecords":5,"startOffset":"5","endOffset":"10","matchingDataElementCount":"42:0:0:0:0:0:0:28","results":[{"iavmID":"2017-A-0165","severity":{"id":"2","name":"Medium","description":"Medium
        Severity"},"total":"2","hostTotal":"2"},{"iavmID":"2017-A-0284","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"2","hostTotal":"2"},{"iavmID":"2017-A-0310","severity":{"id":"2","name":"Medium","description":"Medium
        Severity"},"total":"2","hostTotal":"2"},{"iavmID":"2018-B-0034","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"2","hostTotal":"2"},{"iavmID":"2018-A-0147","severity":{"id":"4","name":"Critical","description":"Critical
        Severity"},"total":"1","hostTotal":"1"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080213}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
