interactions:
- request:
    body: !!python/unicode '{"username": "newusername"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: PATCH
    uri: https://securitycenter.home.cugnet.net/rest/user/4
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"6","status":"0","username":"newusername","firstname":"","lastname":"","title":"","email":"","address":"","city":"","state":"","country":"","phone":"","fax":"","createdTime":"1554493701","modifiedTime":"1554493702","lastLogin":"0","lastLoginIP":"","mustChangePassword":"false","locked":"false","failedLogins":"0","authType":"tns","fingerprint":null,"password":"SET","ldapUsername":"","managedUsersGroups":[],"managedObjectsGroups":[],"preferences":[{"name":"timezone","value":"America\/New_York","tag":"system"}],"canUse":true,"canManage":true,"role":{"id":"2","name":"Security
        Manager","description":"The Security Manager role has full access to all actions
        at the organization level. A Security Manager has the ability to create new
        groups and manage existing ones. A Security Manager can also define how users
        interact with other groups.\n\nThe ability to manage other users and their
        objects can be configured using group permissions on the Access tab of User
        add\/edit. This includes viewing and stopping running scans and reports."},"responsibleAsset":{"id":-1,"name":"","description":""},"group":{"id":"0","name":"Full
        Access","description":"Full Access group"},"ldap":{"id":-1,"name":"","description":""}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1554493702}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
