interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/group/2
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"4","name":"groupname","description":"","createdTime":"1554499827","modifiedTime":"1554499827","lces":[],"repositories":[],"definingAssets":[],"userCount":0,"users":[],"assets":[],"policies":[],"queries":[],"credentials":[],"dashboardTabs":[],"auditFiles":[],"arcs":[]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1554499827}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
