interactions:
- request:
    body: null
    headers:
      X-SecurityCenter:
      - '0000000000'
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/asset/35?fields=id,name,type,description&orgID=1
  response:
    body:
      string: '{"type":"regular","response":{"id":"35","name":"Example","type":"static","description":""},
      "error_code":0,"error_msg":"","warnings":[],"timestamp":1626785131}'
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
version: 1
