---
interactions:
  - request:
      body: null
      headers:
        X-SecurityCenter: ['0000000000']
      method: GET
      uri: https://securitycenter.home.cugnet.net/rest/auditFileTemplate?fields=id,name,categoryName,categoryId&categoryID=1&searchString=categoryName:Unix
    response:
      body: {string: !!python/unicode '{"type":"regular","response":[{"id":"1","name":"PCI
            DSS 2.0\/3.0 - Red Hat Linux","categoryName":"Unix", "categoryId": "1"}],"error_code":0,"error_msg":"","warnings":[],"timestamp":1555946553}'}
      headers:
        content-type: [application/json]
        securitycenter: [5.8.0]
      status: {code: 200, message: OK}
version: 1
