interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumtime", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":100,"returnedRecords":100,"startOffset":0,"endOffset":5,"matchingDataElementCount":0,"results":[{"time
        block start":"1544993874","time block stop":"1544994737","count":"0"},{"time
        block start":"1544994738","time block stop":"1544995601","count":"0"},{"time
        block start":"1544995602","time block stop":"1544996465","count":"0"},{"time
        block start":"1544996466","time block stop":"1544997329","count":"0"},{"time
        block start":"1544997330","time block stop":"1544998193","count":"0"},{"time
        block start":"1544998194","time block stop":"1544999057","count":"0"},{"time
        block start":"1544999058","time block stop":"1544999921[...]
