interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/alert/8/execute
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"8","name":"Example
        Alert","description":"","triggerName":"sumip","triggerOperator":">=","triggerValue":"100","modifiedTime":"1550599951","createdTime":"1550599951","lastTriggered":"0","lastEvaluated":"0","executeOnEveryTrigger":"false","didTriggerLastEvaluation":"false","status":"0","action":[{"id":"9","type":"notification","definition":{"message":"Example
        Message","users":[{"id":"1","username":"steve","firstname":"Steve","lastname":"McGrath"}]},"status":"0","users":[{"id":"1","username":"steve","firstname":"Steve","lastname":"McGrath"}],"objectID":null}],"schedule":{"type":"never","start":"","repeatRule":""},"query":{"id":"574","name":"Query
        for alert ''Example Alert'' at 1550599951","description":""},"canUse":"true","canManage":"true","owner":{"id":"2","username":"api","firstname":"api","lastname":"user"},"ownerGroup":{"id":"0","name":"Full
        Access","description":"Full Access group"}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1550599952}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/alert/8
  response:
    body: {string: !!python/unicode '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1550599953}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
