interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/auditFile
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"usable":[{"id":"1000001","name":"test1","description":"","type":"unix","status":"0"},{"id":"1000002","name":"test","description":"","type":"unix","status":"0"},{"id":"1000009","name":"Example","description":"","type":"unix","status":"0"}],"manageable":[{"id":"1000001","name":"test1","description":"","type":"unix","status":"0"},{"id":"1000002","name":"test","description":"","type":"unix","status":"0"},{"id":"1000009","name":"Example","description":"","type":"unix","status":"0"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1555946582}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
