interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "vulndetails", "type": "mobile", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "mobile", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"244","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"-1
        ","results":[{"pluginID":"60035","severity":{"id":"0","name":"Info","description":"Informative"},"identifier":"iPad\/roL89WeF21YvMYPryaT8KileVoCFnintNfh515lk","model":"iPad","serial":"BnvalFZVrSMQTLbOmmTWgi9Qdi2jMgtdxGI6cEdC","deviceVersion":"6.1.3","port":"0","protocol":"tcp","pluginName":"MDM
        Mobile Device Reporting","user":"John Doe","mdmType":"","osCPE":"","lastSeen":"-1","pluginOutput":"Serial
        Number : BnvalFZVrSMQTLbOmmTWgi9Qdi2jMgtdxGI6cEdC\\nDevice : iPad 4th generation
        (WiFi)\\nModel : iPad\\nVersion : 6.1.3\\nTimestamp : No Timestamp (Good MDM)\\nUser
        : John Doe\\nManaged By :\\n    Good MDM","exploitAvailable":"No","exploitEase":"","exploitFrameworks":"","synopsis":"Gathers
        mobile device information from MDMs and reports settings.","description":"This
        plugin gathers the information provided from mobile device management systems
        around the network and reports the devices, information, and where they are
        managed.","solution":"n\/a","seeAlso":"","riskFactor":"None","stigSeverity":"","baseScore":"0.0","temporalScore":"0.0","cvssVector":"","cvssV3BaseScore":"0.0","cvssV3TemporalScore":"0.0","cvssV3Vector":"","cpe":"","vulnPubDate":"-1","patchPubDate":"-1","pluginPubDate":"1338480000","pluginModDate":"1544806800","checkType":"local","version":"1.52","cve":"","bid":"","xref":"","repository":{"id":"3","name":"GoodMDM","description":"","dataFormat":"mobile"},"pluginInfo":"60035
        (0\/tcp) MDM Mobile Device Reporting"},{"pluginID":"60035","severity":{"id":"0","name":"Info","description":"Informative"},"identifier":"iPad\/yk1Ts71l2oIdEJN4E7if5RYLmxyrDlZS6p1p3o1G","model":"iPad","serial":"tikYUxqZFKNzBRrWbY6WCQJO0mZ4i54p1JHK106s","deviceVersion":"6.1.3","port":"0","protocol":"tcp","pluginName":"MDM
        Mobile Device Reporting","user":"John0 Doe0","mdmType":"","osCPE":"","lastSeen":"-1","pluginOutput":"Serial
        Number : tikYUxqZFKNzBRrWbY6WCQJO0mZ4i5[...]
[...]
