interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/scanResult/120
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"121","name":"Daily
        Internal Scan","description":"","details":"Full Safe Scan","status":"Completed","importStatus":"Finished","importStart":"1550039581","importFinish":"1550039582","importDuration":"1","diagnosticAvailable":"false","downloadAvailable":"true","downloadFormat":"v2","dataFormat":"IPv4","resultType":"active","resultSource":"internal","running":"false","errorDetails":"","importErrorDetails":"","totalIPs":"2048","scannedIPs":"2048","startTime":"1550037606","finishTime":"1550039578","scanDuration":"1972","createdTime":"1550037600","completedIPs":"2048","completedChecks":"209686528","totalChecks":"209686528","progress":{"completedIPs":"2048","completedChecks":"209686528","totalChecks":"209686528","checksPerHost":"102386","totalIPs":"2048","runState":"Stopped","scanningIPs":"","scanningSize":0,"scannedIPs":"192.168.100.1,192.168.100.3-192.168.100.5,192.168.100.10,192.168.100.50-192.168.100.51,192.168.100.136,192.168.101.1,192.168.101.30,192.168.101.115,192.168.101.117,192.168.101.130,192.168.101.133,192.168.101.140,192.168.101.146,192.168.101.159-192.168.101.160,192.168.101.178,192.168.101.189,192.168.101.191,192.168.102.1,192.168.103.1,192.168.104.1,192.168.104.100,192.168.104.106,192.168.104.109,192.168.104.114-192.168.104.115,192.168.104.123,192.168.104.126-192.168.104.127,192.168.104.138-192.168.104.139,192.168.104.141,192.168.104.161,192.168.104.177,192.168.104.186,192.168.104.188-192.168.104.190,192.168.104.254,192.168.105.1,192.168.106.1,192.168.106.100,192.168.106.147,192.168.106.254,192.168.199.1,192.168.199.185","scannedSize":49,"awaitingDownloadIPs":"","awaitingDownloadSize":0,"distributedSize":2048,"status":"Completed","deadHostSize":1999,"deadHostIPs":"192.168.100.0,192.168.100.2,192.168.100.6-192.168.100.9,192.168.100.11-192.168.100.49,192.168.100.52-192.168.100.135,192.168.100.137-192.168.101.0,192.168.101.2-192.168.101.29,192.168.101.31-192.168.101.114,192.168.101.116,192.168.101.118-192.168.101.129,192.168.101.131-192.168.101.132,192.168.101.134-192.168.101.139,192.168.101.141-192.168.101.145,192.168.101.147-192.168.101.158,192.168.101.161-192.168.101.177,192.168.101.179-192.168.101.188,192.168.101.190,192.168.101.192-192.168.102.0,192.168.102.2-192.168.103.0,192.168.103.2-192.168.104.0,192.168.104.2-192.168.104.99,192.168.104.101-192.168.104.105,192.168.104.107-192.168.104.108,192.168.104.110-192.168.104.113,192.168.104.116-192.168.104.122,192.168.104.124-192.168.104.125,192.168.104.128-192.168.104.137,192.168.104.140,192.168.104.142-192.168.104.160,192.168.104.162-192.168.104.176,192.168.104.178-192.168.104.185,192.168.104.187,192.168.104.191-192.168.104.253,192.168.104.255-192.168.105.0,192.168.105.2-192.168.106.0,192.168.106.2-192.168.106.99,192.168.106.101-192.168.106.146,192.168.106.148-192.168.106.253,192.168.106.255,192.168.199.0,192.168.199.2-192.168.199.184,192.168.199.186-192.168.199.255","scanners":[{"id":"1","loadAvg":"0.0","chunkCompleted":"2048","completedChecks":"209686528","name":"Internal
        Scanner","description":"","chunks":[],"scannedSize":49,"scannedIPs":"192.168.100.1,192.168.100.3-192.168.100.5,192.168.100.10,192.168.100.50-192.168.100.51,192.168.100.136,192.168.101.1,192.168.101.30,192.168.101.115,192.168.101.117,192.168.101.130,192.168.101.133,192.168.101.140,192.168.101.146,192.168.101.159-192.168.101.160,192.168.101.178,192.168.101.189,192.168.101.191,192.168.102.1,192.168.103.1,192.168.104.1,192.168.104.100,192.168.104.106,192.168.104.109,192.168.104.114-192.168.104.115,192.168.104.123,192.168.104.126-192.[...]
