---
interactions:
  - request:
      body: null
      headers:
        X-SecurityCenter:
          - '0000000000'
      method: GET
      uri: https://securitycenter.home.cugnet.net/rest/asset/35?fields=id,name,type,description
    response:
      body:
        string: '{"type":"regular","response":{"id":"37","name":"Example","type":"static","description":""},"error_code":0,"error_msg":"","warnings":[],"timestamp":1560971557}'
      headers:
        Content-Type:
          - application/json
        SecurityCenter:
          - 5.8.0
      status:
        code: 200
        message: OK
version: 1
