---
interactions:
  - request:
      body: null
      headers:
        X-SecurityCenter: ['0000000000']
      method: GET
      uri: https://securitycenter.home.cugnet.net/rest/plugin?endOffset=200
    response:
      body: {string: !!python/unicode '{"type":"regular","response":[{"id":"12634","name":"Authenticated
          Check : OS Name and Installed Package Enumeration","description":"This plugin
          logs into the remote host using SSH, RSH, RLOGIN, Telnet,\nor local commands
          and extracts the list of installed packages.\n\nIf using SSH, the scan should
          be configured with a valid SSH public\nkey and possibly an SSH passphrase
          (if the SSH public key is protected\nby a passphrase)."},{"id":"21156","name":"Windows
          Compliance Checks","description":"Using the supplied credentials, this script
          performs a compliance check again[...]
