interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumfamily", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"16","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"1629:19:146:176:32:1256:2780","results":[{"score":"0","total":"1","severityInfo":"1","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","family":{"id":"19","name":"FTP","type":"active"}},{"score":"3","total":"1","severityInfo":"0","severityLow":"0","severityMedium":"1","severityHigh":"0","severityCritical":"0","family":{"id":"31","name":"Databases","type":"active"}},{"score":"0","total":"3","severityInfo":"3","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","family":{"id":"28","name":"RPC","type":"active"}},{"score":"63","total":"6","severityInfo":"2","severityLow":"0","severityMedium":"1","severityHigh":"2","severityCritical":"1","family":{"id":"10","name":"Windows
        : Microsoft Bulletins","type":"active"}},{"score":"3","total":"7","severityInfo":"6","severityLow":"0","severityMedium":"1","severityHigh":"0","severityCritical":"0","family":{"id":"34","name":"Firewalls","type":"active"}}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080209}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
