interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/zone/2
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"7","name":"Example","description":"","ipList":"192.168.0.0\/24","createdTime":"1553205885","modifiedTime":"1553205885","scanners":[],"organizations":[],"activeScanners":0,"totalScanners":0},"error_code":0,"error_msg":"","warnings":[],"timestamp":1553205885}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
