interactions:
- request:
    body: !!python/unicode '{"variables": [{"name": "BANNER_TEXT", "value": ""}, {"name":
      "INTERNAL_NETWORK", "value": "192\\.168\\."}, {"name": "LOG_SERVER", "value":
      "192\\.168\\.0\\.1"}, {"name": "NTP_SERVER_1", "value": "4\\.2\\.2\\.2"}, {"name":
      "NTP_SERVER_3", "value": "192\\.168\\.0\\.1"}, {"name": "NTP_SERVER_2", "value":
      "192\\.168\\.0\\.1"}, {"name": "HOSTS_ALLOW_NETWORK", "value": "192\\.168\\."}],
      "auditFileTemplate": {"id": 162}, "name": "Example"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/auditFile
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"1000003","name":"Example","description":"","version":"1.43","type":"unix","context":"","status":"0","filename":"scfile_VKzbkj","originalFilename":"","createdTime":"1555432455","modifiedTime":"1555432455","lastRefreshedTime":"1555432455","editor":"[{\"id\":\"BANNER_TEXT\",\"name\":\"Banner
        Text\",\"default\":\"All activities performed on this system will be monitored.\",\"hint\":\"This
        is the text for the warning a user receives when logging onto the system.\",\"required\":\"true\",\"type\":\"entry\"},{\"id\":\"NTP_SERVER_1\",\"name\":\"First
        NTP server IP address\",\"default\":\"192\\\\.168\\\\.0\\\\.1\",\"hint\":\"The
        IP address of the first Network Time Protocol (NTP) server for your organization.\",\"required\":\"true\",\"type\":\"entry\"},{\"id\":\"INTERNAL_NETWORK\",\"name\":\"Hosts.allow
        internal network entry\",\"default\":\"192\\\\.168\\\\.\",\"hint\":\"The IP
        address and network mask allowed access to the system as it appe[...]
