interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumip", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":781,"returnedRecords":5,"startOffset":0,"endOffset":5,"matchingDataElementCount":48208,"results":[{"address":"192.168.101.1","count":"33102","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.101.179","count":"22541","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"0.0.0.0","count":"9570","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.106.100","count":"7671","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.106.147","count":"5596","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}}],"startTime":1544993866,"endTime":1545080266},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080266}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "sumip", "type": "event", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":781,"returnedRecords":5,"startOffset":5,"endOffset":10,"matchingDataElementCount":48234,"results":[{"address":"192.168.101.30","count":"5499","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.101.115","count":"1891","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.106.1","count":"1366","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.104.171","count":"921","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.104.189","count":"863","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}}],"startTime":1544993867,"endTime":1545080267},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080267}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
