interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/system/locales
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"ja":{"code":"ja","name":"Japanese"},"zh_CN":{"code":"zh_CN","name":"Chinese
        (Simplified)"},"zh_TW":{"code":"zh_TW","name":"Chinese (Traditional)"}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1553201639}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
