interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumsrcip", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":268,"returnedRecords":5,"startOffset":0,"endOffset":5,"matchingDataElementCount":48234,"results":[{"address":"192.168.101.179","count":"21757","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.101.1","count":"6059","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.106.147","count":"5588","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.106.100","count":"5058","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"0.0.0.0","count":"4788","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}}],"startTime":1544993872,"endTime":1545080272},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080272}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "sumsrcip", "type": "event", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":268,"returnedRecords":5,"startOffset":5,"endOffset":10,"matchingDataElementCount":48234,"results":[{"address":"192.168.104.171","count":"921","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.104.189","count":"855","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.104.188","count":"854","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.101.115","count":"573","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.101.140","count":"399","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}}],"startTime":1544993873,"endTime":1545080273},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080273}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
