interactions:
- request:
    body: !!python/unicode '{"date": "all", "query": {"tool": "scLog", "type": "scLog",
      "startOffset": 0, "filters": [], "endOffset": 5}, "type": "scLog"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"skip":{"201812":"false"},"results":[{"rawLog":"Mon,
        17 Dec 2018 15:56:25 -0500|api|auth|INFO|Successful login for ''api'' from
        192.168.106.100 (authentication type: tns).\n","organization":{"id":"1","name":"HomeNet","description":""},"message":"Successful
        login for ''api'' from 192.168.106.100 (authentication type: tns).","severity":{"id":"0","name":"INFO","description":"Information"},"module":"auth","initiator":{"id":"2","username":"api","firstname":"api","lastname":"user"},"date":"Mon,
        17 Dec 2018 15:56:25 -0500"},{"rawLog":"Mon, 17 Dec 2018 15:32:20 -0500|api|auth|INFO|Successful
        login for ''api'' from 192.168.106.100 (authentication type: tns).\n","organization":{"id":"1","name":"HomeNet","description":""},"message":"Successful
        login for ''api'' from 192.168.106.100 (authentication type: tns).","severity":{"id":"0","name":"INFO","description":"Information"},"module":"auth","initiator":{"id":"2","username":"api","firstname":"api","[...]
[...]
