interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumasset", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"34","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"5600:69:584:686:122:4139:10780","results":[{"score":"0","total":"0","severityInfo":"0","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","asset":{"id":"1","name":"Systems
        Discovered Passively","description":"This asset uses passive plugins for OS
        detection and hop detection to identify hosts on the network.","type":"dynamic","status":"0"}},{"score":"0","total":"0","severityInfo":"0","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","asset":{"id":"4","name":"Voice
        or Mobile Client Devices","description":"This asset identifies Mobile Phones,
        VoIP phones or other client based hardware.","type":"dynamic","status":"0"}},{"score":"0","total":"0","severityInfo":"0","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","asset":{"id":"5","name":"Device
        Type VPN","description":"The systems identified by this asset have been determined
        by plugin 54615 ''Device Type'' to be type vpn.","type":"dynamic","status":"0"}},{"score":"0","total":"0","severityInfo":"0","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","asset":{"id":"6","name":"Device
        Type Switch","description":"The systems identified by this asset have been
        determined by plugin 54615 ''Device Type'' to be type switch.","type":"dynamic","status":"0"}},{"score":"0","total":"0","severityInfo":"0","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","asset":{"id":"8","name":"Device
        Type Load-balancer","description":"The systems identified by this asset have
        been determined by plugin 54615 ''Device Type'' to be type load-balancer.","type":"dynamic","status":"0"}}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080200}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
