interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumcve", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"689","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"1356:0:0:0:0:0:0:1330","results":[{"cveID":"CVE-1999-0524","severity":{"id":"0","name":"Info","description":"Informative"},"total":"22","hostTotal":"22"},{"cveID":"CVE-2017-5715","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"12","hostTotal":"2"},{"cveID":"CVE-2008-5161","severity":{"id":"1","name":"Low","description":"Low
        Severity"},"total":"10","hostTotal":"10"},{"cveID":"CVE-2018-3639","severity":{"id":"2","name":"Medium","description":"Medium
        Severity"},"total":"9","hostTotal":"5"},{"cveID":"CVE-2017-3651","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"6","hostTotal":"4"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080204}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "sumcve", "type": "vuln", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"689","returnedRecords":5,"startOffset":"5","endOffset":"10","matchingDataElementCount":"1356:0:0:0:0:0:0:1330","results":[{"cveID":"CVE-2016-2183","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"5","hostTotal":"5"},{"cveID":"CVE-2018-3620","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"5","hostTotal":"5"},{"cveID":"CVE-2018-3646","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"5","hostTotal":"5"},{"cveID":"CVE-2018-0732","severity":{"id":"2","name":"Medium","description":"Medium
        Severity"},"total":"5","hostTotal":"5"},{"cveID":"CVE-2018-0737","severity":{"id":"2","name":"Medium","description":"Medium
        Severity"},"total":"5","hostTotal":"5"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080206}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
