interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "syslog", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":48252,"returnedRecords":5,"startOffset":0,"endOffset":5,"matchingDataElementCount":48252,"results":[{"time":"1545069201","sensor":"Syslog","type":"firewall","message":"<134>Dec
        17 11:53:19 filterlog: 9,,,1000000103,igb1,match,block,in,4,0x20,,237,29416,0,none,6,tcp,40,185.255.31.78,24.15.184.174,53590,13284,0,S,3403610530,,1024,,"},{"time":"1545069201","sensor":"Syslog","type":"firewall","message":"<134>Dec
        17 11:53:19 filterlog: 5,,,1000000003,igb1,match,block,in,6,0x00,0x00000,255,ICMPv6,58,144,fe80::201:5cff:fe6a:646,ff02::1,"},{"time":"1545069201","sensor":"Syslog","type":"connection","message":"<134>Dec
        17 11:53:19 filterlog: 136,,,1455312420,igb2.106,match,pass,in,4,0x0,,64,0,0,DF,6,tcp,64,192.168.106.100,192.168.101.115,54190,443,0,S,4067600118,,65535,,mss;nop;wscale;nop;nop;TS;sackOK;eol"},{"time":"1545069201","sensor":"Syslog","type":"connection","message":"<134>Dec
        17 11:53:19 filterlog: 136,,,1455312420,igb2.106,match,pass,in,4,0x0,,64,0,0,DF,6,tcp,64,192.168.106.100,192.168.101.115,54189,443,0,S,1412569928,,65535,,mss;nop;wscale;nop;nop;TS;sackOK;eol"},{"time":"1545069201","sensor":"Syslog","type":"connection","message":"<134>Dec
        17 11:53:18 filterlog: 136,,,1455312420,igb2.106,match,pass,in,4,0x0,,64,0,0,DF,6,tcp,64,192.168.106.100,192.168.101.179,54182,8834,0,S,816285504,,65535,,mss;nop;wscale;nop;nop;TS;sackOK;eol"}],"startTime":1544993879,"endTime":1545080279},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080279}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
