interactions:
- request:
    body: "--60e43c06738513483218ee3a94e61840\r\nContent-Disposition: form-data; name=\"Filedata\";
      filename=\"asset_list.xml\"\r\n\r\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<assets>\n\t<asset>\n\t\t<scVersion>5.8.0</scVersion>\n\t\t<name>Import
      Example</name>\n\t\t<description></description>\n\t\t<type>static</type>\n\t\t<templateID>-1</templateID>\n\t\t<definition>YToyOntzOjEwOiJkZWZpbmVkSVBzIjtzOjExOiIxOTIuMTY4LjAuMSI7czoxNToiYXNzZXREYXRhRmllbGRzIjthOjA6e319</definition>\n\t</asset>\n</assets>\n\r\n--60e43c06738513483218ee3a94e61840--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=60e43c06738513483218ee3a94e61840
      X-SecurityCenter:
      - '0000000000'
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/file/upload
  response:
    body:
      string: '{"type":"regular","response":{"filename":"SW6CHj","originalFilename":"asset_list.xml","content":"","context":""},"error_code":0,"error_msg":"","warnings":[],"timestamp":1561038575}

'
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.8.0
    status:
      code: 200
      message: OK
- request:
    body: '{"filename": "SW6CHj"}'
    headers:
      Content-Type:
      - application/json
      X-SecurityCenter:
      - '0000000000'
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/asset/import
  response:
    body:
      string: '{"type":"regular","response":{"id":"46","name":"Import Example","type":"static","description":"","tags":"","context":"","status":"0","createdTime":"1561038575","modifiedTime":"1561038575","typeFields":{"definedIPs":"192.168.0.1"},"repositories":[{"ipCount":"-1","repository":{"id":"1","name":"Default","description":""}},{"ipCount":"-1","repository":{"id":"18","name":"Ad-Hoc","description":""}}],"ipCount":-1,"groups":[],"assetDataFields":[],"canUse":"true","canManage":"true","creator":{"id":"2","username":"api","firstname":"api","lastname":"user"},"owner":{"id":"2","username":"api","firstname":"api","lastname":"user"},"ownerGroup":{"id":"0","name":"Full
        Access","description":"Full Access group"},"targetGroup":{"id":-1,"name":"","description":""},"template":{"id":-1,"name":"","description":""}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1561038575}

'
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.8.0
    status:
      code: 200
      message: OK
version: 1
