interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "listdata", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":48141,"returnedRecords":5,"startOffset":0,"endOffset":5,"matchingDataElementCount":48141,"results":[{"time":"1545069201","event":"PF-Blocked_Inbound_Connection","source
        ip":"185.255.31.78","destination ip":"24.15.184.174","protocol":"0","destination
        port":"13284","number of vulns":"0","sensor":"Syslog","type":"firewall","va\/ids":"0"},{"time":"1545069201","event":"Unix-Syslog_Restarted","source
        ip":"192.168.101.1","destination ip":"192.168.101.1","protocol":"0","destination
        port":"0","number of vulns":"0","sensor":"Syslog","type":"restart","va\/ids":"0"},{"time":"1545069201","event":"unnormalized","source
        ip":"192.168.101.1","destination ip":"192.168.101.1","protocol":"0","destination
        port":"0","number of vulns":"0","sensor":"Syslog","type":"unnormalized","va\/ids":"0"},{"time":"1545069201","event":"Apache-Content_CSS_Request","source
        ip":"192.168.106.100","destination ip":"192.168.101.1","protocol":"0","destination
        port":"0","number of vulns":"0","sensor":"Syslog","type":"web-access","va\/ids":"0"},{"time":"1545069201","event":"Apache-Content_CSS_Request","source
        ip":"192.168.106.100","destination ip":"192.168.101.1","protocol":"0","destination
        port":"0","number of vulns":"0","sensor":"Syslog","type":"web-access","va\/ids":"0"}],"startTime":1544993843,"endTime":1545080243},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080243}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
