interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumport", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"103","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"1629:19:146:176:32:1256:2780","results":[{"port":"0","score":"1999","total":"781","severityInfo":"503","severityLow":"17","severityMedium":"124","severityHigh":"129","severityCritical":"8"},{"port":"21","score":"9","total":"17","severityInfo":"14","severityLow":"0","severityMedium":"3","severityHigh":"0","severityCritical":"0"},{"port":"22","score":"15","total":"127","severityInfo":"114","severityLow":"12","severityMedium":"1","severityHigh":"0","severityCritical":"0"},{"port":"23","score":"6","total":"9","severityInfo":"7","severityLow":"0","severityMedium":"2","severityHigh":"0","severityCritical":"0"},{"port":"25","score":"0","total":"6","severityInfo":"6","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080220}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "sumport", "type": "vuln", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"103","returnedRecords":5,"startOffset":"5","endOffset":"10","matchingDataElementCount":"1629:19:146:176:32:1256:2780","results":[{"port":"53","score":"3","total":"14","severityInfo":"13","severityLow":"0","severityMedium":"1","severityHigh":"0","severityCritical":"0"},{"port":"67","score":"1","total":"1","severityInfo":"0","severityLow":"1","severityMedium":"0","severityHigh":"0","severityCritical":"0"},{"port":"68","score":"0","total":"14","severityInfo":"14","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0"},{"port":"69","score":"0","total":"1","severityInfo":"1","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0"},{"port":"80","score":"0","total":"57","severityInfo":"57","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080221}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
