interactions:
- request:
    body: !!python/unicode '{"name": "Updated Role"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: PATCH
    uri: https://securitycenter.home.cugnet.net/rest/role/1000006
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"1000008","creatorID":"2","name":"Updated
        Role","description":"","createdTime":"1554132239","modifiedTime":"1554132240","permManageApp":"false","permManageGroups":"false","permManageRoles":"false","permManageImages":"false","permManageGroupRelationships":"false","permManageBlackoutWindows":"false","permManageAttributeSets":"false","permCreateTickets":"false","permCreateAlerts":"false","permCreateAuditFiles":"false","permCreateLDAPAssets":"false","permCreatePolicies":"false","permPurgeTickets":"false","permPurgeScanResults":"false","permPurgeReportResults":"false","permScan":"none","permAgentsScan":"false","permShareObjects":"false","permUpdateFeeds":"false","permUploadNessusResults":"false","permViewOrgLogs":"false","permManageAcceptRiskRules":"false","permManageRecastRiskRules":"false"},"error_code":0,"error_msg":"","warnings":[],"timestamp":1554132240}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
