interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "listvuln", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"1629","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"-1","results":[{"pluginID":"10107","severity":{"id":"0","name":"Info","description":"Informative"},"ip":"192.168.100.1","uuid":"","port":"80","protocol":"TCP","name":"HTTP
        Server Type and Version","dnsName":"pfsense.home.cugnet.net","macAddress":"","netbiosName":"","uniqueness":"repositoryID,ip,dnsName","family":{"id":"11","name":"Web
        Servers","type":"active"},"repository":{"id":"1","name":"Default","description":"","dataFormat":"IPv4"},"pluginInfo":"10107
        (80\/6) HTTP Server Type and Version"},{"pluginID":"10107","severity":{"id":"0","name":"Info","description":"Informative"},"ip":"192.168.100.1","uuid":"","port":"443","protocol":"TCP","name":"HTTP
        Server Type and Version","dnsName":"pfsense.home.cugnet.net","macAddress":"","netbiosName":"","uniqueness":"repositoryID,ip,dnsName","family":{"id":"11","name":"Web
        Servers","type":"active"},"repository":{"id":"1","name":"Default","description":"","dataFormat":"IPv4"},"pl[...]
[...]
