interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumevent2", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":1,"returnedRecords":1,"startOffset":0,"endOffset":5,"matchingDataElementCount":5480,"results":[{"event":"unnormalized","description":"No
        description found.","file":"File not found.","24-hour plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30,2524,2739,47,45,60,35","count":"5480"}],"startTime":1544993864,"endTime":1545080264},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080264}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
