interactions:
- request:
    body: !!python/unicode '{"name": "new name"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: PATCH
    uri: https://securitycenter.home.cugnet.net/rest/group/2
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"3","name":"new
        name","description":"","createdTime":"1554499816","modifiedTime":"1554499816","lces":[],"repositories":[],"definingAssets":[],"userCount":0,"users":[],"assets":[],"policies":[],"queries":[],"credentials":[],"dashboardTabs":[],"auditFiles":[],"arcs":[]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1554499816}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
