interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/role/1000006
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"1000003","name":"Example
        Role","description":"","createdTime":"1554132027","modifiedTime":"1554132027","permManageApp":"false","permManageGroups":"false","permManageRoles":"false","permManageImages":"false","permManageGroupRelationships":"false","permManageBlackoutWindows":"false","permManageAttributeSets":"false","permCreateTickets":"false","permCreateAlerts":"false","permCreateAuditFiles":"false","permCreateLDAPAssets":"false","permCreatePolicies":"false","permPurgeTickets":"false","permPurgeScanResults":"false","permPurgeReportResults":"false","permScan":"none","permAgentsScan":"false","permShareObjects":"false","permUpdateFeeds":"false","permUploadNessusResults":"false","permViewOrgLogs":"false","permManageAcceptRiskRules":"false","permManageRecastRiskRules":"false","organizationCounts":[{"id":"1","userCount":"0"}],"creator":{"id":"2","username":"api","firstname":"api","lastname":"user"}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1554132027}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
