interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/acceptRiskRule
  response:
    body: {string: !!python/unicode '{"type":"regular","response":[{"id":"5","hostType":"ip","hostValue":"192.168.100.1,192.168.101.1,192.168.102.1,192.168.103.1,192.168.104.1,192.168.105.1,192.168.106.1,192.168.199.1","port":"0","protocol":"TCP","expires":"-1","status":"0","repository":{"id":"1","name":"Default","description":""},"organization":{"id":"1","name":"HomeNet","description":""},"user":{"id":"1","username":"steve","firstname":"Steve","lastname":"McGrath"},"plugin":{"id":"33850","name":"Unix
        Operating System Unsupported Version Detection","description":"According to
        its self-reported version number, the Unix operating system running on the
        remote host is no longer supported.\n\nLack of support implies that no new
        security patches for the product will be released by the vendor. As a result,
        it is likely to contain security vulnerabilities."}},{"id":"6","hostType":"ip","hostValue":"127.0.0.1","port":"any","protocol":"a[...]
