interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumpluginid", "type": "mobile", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "mobile", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"10","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"244:16:126:7:0:95:1921
        ","results":[{"pluginID":"60025","name":"Apple iOS < 5.0.1 Multiple Vulnerabilities","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"16"},{"pluginID":"60026","name":"Apple iOS < 5.0 Multiple
        Vulnerabilities (BEAST)","severity":{"id":"3","name":"High","description":"High
        Severity"},"total":"16"},{"pluginID":"60027","name":"Apple iOS < 5.1.1 Multiple
        Vulnerabilities","severity":{"id":"4","name":"Critical","description":"Critical
        Severity"},"total":"16"},{"pluginID":"60028","name":"Apple iOS < 5.1 Multiple
        Vulnerabilities","severity":{"id":"3","name":"High","description":"High Severity"},"total":"16"},{"pluginID":"60035","name":"MDM
        Mobile Device Reporting","severity":{"id":"0","name":"Info","description":"Informative"},"total":"95"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080241}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
