interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumclassa", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":114,"returnedRecords":5,"startOffset":0,"endOffset":5,"matchingDataElementCount":48181,"results":[{"class-a":"192.0.0.0\/8","count":"81815"},{"class-a":"0.0.0.0\/8","count":"9562"},{"class-a":"24.0.0.0\/8","count":"843"},{"class-a":"209.0.0.0\/8","count":"565"},{"class-a":"172.0.0.0\/8","count":"478"}],"startTime":1544993848,"endTime":1545080248},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080248}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "sumclassa", "type": "event", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":114,"returnedRecords":5,"startOffset":5,"endOffset":10,"matchingDataElementCount":48181,"results":[{"class-a":"17.0.0.0\/8","count":"451"},{"class-a":"224.0.0.0\/8","count":"390"},{"class-a":"5.0.0.0\/8","count":"221"},{"class-a":"173.0.0.0\/8","count":"214"},{"class-a":"74.0.0.0\/8","count":"212"}],"startTime":1544993850,"endTime":1545080250},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080249}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
