interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumclassc", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":425,"returnedRecords":5,"startOffset":0,"endOffset":5,"matchingDataElementCount":48181,"results":[{"class-c":"192.168.101.0\/24","count":"63790"},{"class-c":"192.168.106.0\/24","count":"14653"},{"class-c":"0.0.0.0\/24","count":"9562"},{"class-c":"192.168.104.0\/24","count":"3067"},{"class-c":"24.15.184.0\/24","count":"843"}],"startTime":1544993853,"endTime":1545080253},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080253}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "sumclassc", "type": "event", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":425,"returnedRecords":5,"startOffset":5,"endOffset":10,"matchingDataElementCount":48181,"results":[{"class-c":"224.0.0.0\/24","count":"390"},{"class-c":"209.208.119.0\/24","count":"380"},{"class-c":"17.36.205.0\/24","count":"211"},{"class-c":"5.188.206.0\/24","count":"208"},{"class-c":"192.241.186.0\/24","count":"133"}],"startTime":1544993855,"endTime":1545080255},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080254}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
