interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumprotocol", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"3","returnedRecords":3,"startOffset":"0","endOffset":"5","matchingDataElementCount":"1629:19:146:176:32:1256:2780","results":[{"protocol":"ICMP(1)","score":"0","total":"22","severityInfo":"22","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0"},{"protocol":"TCP(6)","score":"2767","total":"1445","severityInfo":"1077","severityLow":"31","severityMedium":"172","severityHigh":"146","severityCritical":"19"},{"protocol":"UDP(17)","score":"13","total":"162","severityInfo":"157","severityLow":"1","severityMedium":"4","severityHigh":"0","severityCritical":"0"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080221}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
