interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "listservices", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"47","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"158","results":[{"count":"23","detectionMethod":"Active","name":"A
        web server is running on this port."},{"count":"18","detectionMethod":"Active","name":"Process
        ID   : 1022\n  Executable   : \/usr\/lib\/plexmediaserver\/Plex Media Server\n  Command
        line : \/usr\/lib\/plexmediaserver\/Plex Media Server"},{"count":"13","detectionMethod":"Active","name":"An
        SSH server is running on this port."},{"count":"11","detectionMethod":"Active","name":"The
        Win32 process ''svchost.exe'' is listening on this port"},{"count":"6","detectionMethod":"Active","name":"Process
        ID   : 897\n  Executable   : \/usr\/sbin\/dhclient\n  Command line : \/sbin\/dhclient
        -d -q -sf \/usr\/libexec\/nm-dhcp-helper -pf \/var\/run\/dhclient-eno16777984.pid
        -lf \/var\/lib\/NetworkManager\/dhclient-03fe4dbc-1bd4-4cce-b71d-7a91b49ebca7-eno16777984.lease
        -cf \/var\/lib\/NetworkManager\/dhclient-eno16777984.conf eno16777984"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080194}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
