interactions:
- request:
    body: '{"vulnScoringSystem": "CVSSv2", "name": "New Org", "zoneSelection": "auto_only"}'
    headers:
      Content-Type:
      - application/json
      TNS_SESSIONID:
      - a3e580857318b12388f4ae3d0ab31a98
      X-SecurityCenter:
      - '0000000000'
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/organization
  response:
    body:
      string: '{"type":"regular","response":{"id":"71","name":"New Org","description":"","email":"","address":"","city":"","state":"","country":"","phone":"","fax":"","ipInfoLinks":[],"zoneSelection":"auto_only","restrictedIPs":"","vulnScoreLow":"1","vulnScoreMedium":"3","vulnScoreHigh":"10","vulnScoreCritical":"40","vulnScoringSystem":"CVSSv2","createdTime":"1627573449","modifiedTime":"1627573449","userCount":"0","lces":[],"repositories":[],"zones":[],"nessusManagers":[],"pubSites":[],"ldaps":[]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1627573449}

        '
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "new org name"}'
    headers:
      Content-Type:
      - application/json
      TNS_SESSIONID:
      - a3e580857318b12388f4ae3d0ab31a98
      X-SecurityCenter:
      - '0000000000'
    method: PATCH
    uri: https://securitycenter.home.cugnet.net/rest/organization/65
  response:
    body:
      string: '{"type":"regular","response":{"id":"71","name":"new org name","description":"","email":"","address":"","city":"","state":"","country":"","phone":"","fax":"","ipInfoLinks":[],"zoneSelection":"auto_only","restrictedIPs":"","vulnScoreLow":"1","vulnScoreMedium":"3","vulnScoreHigh":"10","vulnScoreCritical":"40","vulnScoringSystem":"CVSSv2","createdTime":"1627573449","modifiedTime":"1627573451","userCount":"0","lces":[],"repositories":[],"zones":[],"nessusManagers":[],"pubSites":[],"ldaps":[]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1627573451}

        '
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      TNS_SESSIONID:
      - a3e580857318b12388f4ae3d0ab31a98
      X-SecurityCenter:
      - '0000000000'
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/organization/65
  response:
    body:
      string: '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1627573451}

        '
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
version: 1
