interactions:
  - request:
      body: null
      headers:
        X-SecurityCenter: ["0000000000"]
      method: GET
      uri: https://securitycenter.home.cugnet.net/rest/hosts?fields=id,name,uuid,tenableUUID,ipAddress
    response:
      body: { string: !!python/unicode '{ "type": "regular", "response": [ { "id": "154", "uuid": "68262460-941b-4762-906e-47298f79911e",
          "tenableUUID": "58bd0909-f66d-4248-8c20-2501b208bb65", "name": "Aerified", "ipAddress": "201.22.196.102"}, { "id": "47", "uuid": "e9344880-c32f-458c-b78e-211ce81d10cb",
          "tenableUUID": "dce3a590-70f0-4530-9843-5d3c83666f75", "name": "Windows 10", "ipAddress": "90.248.112.168"} ], "error_code": 0, "error_msg": "", "warnings": [], "timestamp": 1626889388 }',
        }
      headers:
        content-type: [application/json]
        securitycenter: [5.8.0]
      status: { code: 200, message: OK }
version: 1
