interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['2068473896']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/scan
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"usable":[{"id":"1","name":"Daily
        Internal Scan","description":"","status":"0"},{"id":"2","name":"Daily Internal
        Scan","description":"","status":"0"},{"id":"3","name":"Daily Internal Scan","description":"","status":"0"}],"manageable":[{"id":"1","name":"Daily
        Internal Scan","description":"","status":"0"},{"id":"2","name":"Daily Internal
        Scan","description":"","status":"0"},{"id":"3","name":"Daily Internal Scan","description":"","status":"0"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545177468}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
