interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumdeviceid", "type": "mobile", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "mobile", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"95","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"244:16:126:7:0:95:1921
        ","results":[{"identifier":"Android\/androidc0xnDVRnSop","model":"Android","serial":"androidchbUSsOako4","total":"1","score":"0","severityInfo":"1","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","repository":{"id":"3","name":"GoodMDM","description":"","dataFormat":"mobile"}},{"identifier":"Android\/androidc2iyeJNhvL","model":"Android","serial":"androidcHbFuR8kN2","total":"1","score":"0","severityInfo":"1","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","repository":{"id":"3","name":"GoodMDM","description":"","dataFormat":"mobile"}},{"identifier":"Android\/androidc3rHcPbBRNK","model":"Android","serial":"androidcmNNnKs8wUT","total":"1","score":"0","severityInfo":"1","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","repository":{"id":"3","name":"GoodMDM","description":"","dataFormat":"mobile"}},{"identifier":"Android\/androidc5xX29Nw5a3","model":"Android","serial":"androidcPHZuMY0ltZ","total":"1","score":"0","severityInfo":"1","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","repository":{"id":"3","name":"GoodMDM","description":"","dataFormat":"mobile"}},{"identifier":"Android\/androidc6iX5wEJI2L","model":"Android","serial":"androidc4ASCHz3WdE","total":"1","score":"0","severityInfo":"1","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","repository":{"id":"3","name":"GoodMDM","description":"","dataFormat":"mobile"}}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080237}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
