interactions:
- request:
    body: '{"name": "groupname"}'
    headers:
      Content-Type:
      - application/json
      X-SecurityCenter:
      - '0000000000'
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/group
  response:
    body:
      string: '{"type":"regular","response":{"id":"2","name":"groupname","description":"","createdTime":"1554499673","modifiedTime":"1554499673","lces":[],"repositories":[],"definingAssets":[],"userCount":0,"users":[],"assets":[],"policies":[],"queries":[],"credentials":[],"dashboardTabs":[],"auditFiles":[],"arcs":[]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1554499673}

'
    headers:
      content-type:
      - application/json
      securitycenter:
      - 5.8.0
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "groupname"}'
    headers:
      Content-Type:
      - application/json
      X-SecurityCenter:
      - '0000000000'
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/group
  response:
    body:
      string: '{"type":"regular","response":{"id":"7","name":"groupname","description":"","createdTime":"1561038636","modifiedTime":"1561038636","lces":[],"repositories":[],"definingAssets":[],"userCount":0,"users":[],"assets":[],"policies":[],"queries":[],"credentials":[],"dashboardTabs":[],"auditFiles":[],"arcs":[]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1561038636}

'
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.8.0
    status:
      code: 200
      message: OK
version: 1
