interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/repository/6/assetIntersections?ip=192.168.0.1
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"assets":[{"id":"0","name":"All
        Defined Ranges","description":"All defining ranges of the Group in whose context
        this Asset is being evaluated."},{"id":"2","name":"Systems that have been
        Scanned","description":"This asset uses the Scan Summary plugin to detect
        if a host has been scanned by Nessus. The Scan Summary plugin contains the
        list of tests conducted during the most recent scan."},{"id":"15","name":"Systems
        with Software inventory","description":"This asset detects systems where software
        enumeration has been conducted within the last 30 days. There are 3 plugins
        used for software inventory, one for Windows, Linux, and Solaris."},{"id":"23","name":"SSL
        or TLS Servers","description":"This asset list uses active and passive plugins
        to detect servers running SSL and TLS."},{"id":"34","name":"Exploited by Malware","description":"This
        asset identifies systems that can be exploited using Malware, and are identified
        using the Nessus Vulnerability Scanner."}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1550766230}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/repository/6
  response:
    body: {string: !!python/unicode '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1550707450}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
