interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "cveipdetail", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"689","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"689","results":[{"cveID":"CVE-1999-0524","total":"22","hosts":[{"repositoryID":"1","iplist":[{"ip":"192.168.100.1","uuid":"","macAddress":"","netbiosName":"","dnsName":"pfsense.home.cugnet.net"},{"ip":"192.168.100.5","uuid":"","macAddress":"","netbiosName":"","dnsName":"switch.home.cugnet.net"},{"ip":"192.168.100.10","uuid":"","macAddress":"","netbiosName":"","dnsName":"wap.home.cugnet.net"},{"ip":"192.168.101.1","uuid":"","macAddress":"00:08:a2:09:5c:8e","netbiosName":"","dnsName":""},{"ip":"192.168.101.30","uuid":"","macAddress":"00:11:32:63:a1:cf","netbiosName":"WORKGROUP\\DISKSTATION","dnsName":"diskstation.home.cugnet.net"},{"ip":"192.168.101.115","uuid":[...]
[...]
