interactions:
- request:
    body: !!python/unicode '{"groups": [{"id": 6}]}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/query/740/share
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"745","name":"New
        Query","description":"","tool":"vulndetails","type":"vuln","tags":"","context":"","browseColumns":"","browseSortColumn":"","browseSortDirection":"ASC","createdTime":"1556816698","modifiedTime":"1556816698","status":"0","filters":[],"groups":[{"id":"6","name":"groupname","description":""}],"creator":{"id":"2","username":"api","firstname":"api","lastname":"user"},"owner":{"id":"2","username":"api","firstname":"api","lastname":"user"},"ownerGroup":{"id":"0","name":"Full
        Access","description":"Full Access group"},"targetGroup":{"id":-1,"name":"","description":""}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1556816698}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
