interactions:
- request:
    body: '{"vulnScoringSystem": "CVSSv2", "name": "New Org", "zoneSelection": "auto_only"}'
    headers:
      Content-Type:
      - application/json
      TNS_SESSIONID:
      - a3e580857318b12388f4ae3d0ab31a98
      X-SecurityCenter:
      - '0000000000'
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/organization
  response:
    body:
      string: '{"type":"regular","response":{"id":"67","name":"New Org","description":"","email":"","address":"","city":"","state":"","country":"","phone":"","fax":"","ipInfoLinks":[],"zoneSelection":"auto_only","restrictedIPs":"","vulnScoreLow":"1","vulnScoreMedium":"3","vulnScoreHigh":"10","vulnScoreCritical":"40","vulnScoringSystem":"CVSSv2","createdTime":"1627573438","modifiedTime":"1627573438","userCount":"0","lces":[],"repositories":[],"zones":[],"nessusManagers":[],"pubSites":[],"ldaps":[]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1627573438}

        '
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
- request:
    body: '{"username": "user", "password": "password", "responsibleAssetID": -1,
      "roleID": 2, "groupID": 0, "orgID": 67, "authType": "tns"}'
    headers:
      Content-Type:
      - application/json
      TNS_SESSIONID:
      - a3e580857318b12388f4ae3d0ab31a98
      X-SecurityCenter:
      - '0000000000'
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/user
  response:
    body:
      string: '{"type":"regular","response":{"id":"1","status":"0","username":"user","firstname":"","lastname":"","title":"","email":"","address":"","city":"","state":"","country":"","phone":"","fax":"","createdTime":"1627573440","modifiedTime":"1627573440","lastLogin":"0","lastLoginIP":"","mustChangePassword":"false","locked":"false","failedLogins":"0","authType":"tns","fingerprint":null,"password":"SET","ldapUsername":"","managedUsersGroups":[{"id":"-1","name":"All
        Groups","description":"All Groups"}],"managedObjectsGroups":[{"id":"-1","name":"All
        Groups","description":"All Groups"}],"preferences":[{"name":"timezone","value":"America\/New_York","tag":"system"}],"parent":false,"apiKeys":[],"canUse":true,"canManage":true,"role":{"id":"2","name":"Security
        Manager","description":"The Security Manager role has full access to all actions
        at the organization level. A Security Manager has the ability to create new
        groups and manage existing ones. A Security Manager can also define how users
        interact with other groups.\n\nThe ability to manage other users and their
        objects can be configured using group permissions on the Access tab of User
        add\/edit. This includes viewing and stopping running scans and reports."},"responsibleAsset":{"id":-1,"name":"","description":""},"group":{"id":-1,"name":"","description":""},"ldap":{"id":-1,"name":"","description":""}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1627573439}

        '
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      TNS_SESSIONID:
      - a3e580857318b12388f4ae3d0ab31a98
      X-SecurityCenter:
      - '0000000000'
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/organization/65/securityManager?fields=id%2Cusername%2Crole
  response:
    body:
      string: '{"type":"regular","response":[{"username":"user","id":"1","role":{"id":"2","name":"Security
        Manager","description":"The Security Manager role has full access to all actions
        at the organization level. A Security Manager has the ability to create new
        groups and manage existing ones. A Security Manager can also define how users
        interact with other groups.\n\nThe ability to manage other users and their
        objects can be configured using group permissions on the Access tab of User
        add\/edit. This includes viewing and stopping running scans and reports."}}],"error_code":0,"error_msg":"","warnings":[],"timestamp":1627573440}

        '
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      TNS_SESSIONID:
      - a3e580857318b12388f4ae3d0ab31a98
      X-SecurityCenter:
      - '0000000000'
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/organization/65
  response:
    body:
      string: '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1627573440}

        '
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
version: 1
