interactions:
- request:
    body: !!python/unicode '{"tool": "vulndetails", "type": "vuln", "name": "New Query",
      "filters": []}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/query
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"740","name":"New
        Query","description":"","tool":"vulndetails","type":"vuln","tags":"","context":"","browseColumns":"","browseSortColumn":"","browseSortDirection":"ASC","createdTime":"1556816689","modifiedTime":"1556816689","status":"0","filters":[],"groups":[],"canUse":"true","canManage":"true","creator":{"id":"2","username":"api","firstname":"api","lastname":"user"},"owner":{"id":"2","username":"api","firstname":"api","lastname":"user"},"ownerGroup":{"id":"0","name":"Full
        Access","description":"Full Access group"},"targetGroup":{"id":-1,"name":"","description":""}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1556816688}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"tool": "vulndetails", "type": "vuln", "name": "New Query",
      "filters": []}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/query
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"746","name":"New
        Query","description":"","tool":"vulndetails","type":"vuln","tags":"","context":"","browseColumns":"","browseSortColumn":"","browseSortDirection":"ASC","createdTime":"1556819920","modifiedTime":"1556819920","status":"0","filters":[],"groups":[],"canUse":"true","canManage":"true","creator":{"id":"2","username":"api","firstname":"api","lastname":"user"},"owner":{"id":"2","username":"api","firstname":"api","lastname":"user"},"ownerGroup":{"id":"0","name":"Full
        Access","description":"Full Access group"},"targetGroup":{"id":-1,"name":"","description":""}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1556819919}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
