interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/pluginFamily
  response:
    body: {string: !!python/unicode '{"type":"regular","response":[{"id":"0","name":"N\/A"},{"id":"1","name":"Red
        Hat Local Security Checks"},{"id":"2","name":"HP-UX Local Security Checks"},{"id":"3","name":"Debian
        Local Security Checks"},{"id":"4","name":"Solaris Local Security Checks"},{"id":"5","name":"Fedora
        Local Security Checks"},{"id":"6","name":"CGI abuses"},{"id":"7","name":"Gentoo
        Local Security Checks"},{"id":"8","name":"SuSE Local Security Checks"},{"id":"9","name":"AIX
        Local Security Checks"},{"id":"10","name":"Windows : Micr[...]
