interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumuser", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":4,"returnedRecords":4,"startOffset":0,"endOffset":5,"matchingDataElementCount":48252,"results":[{"user":"(unknown)","24-hour
        plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1472,17144,17024,2967,3179,3189,2953","count":"47928"},{"user":"admin","24-hour
        plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,2,0,1","count":"5"},{"user":"api","24-hour
        plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,10,0,2","count":"13"},{"user":"root","24-hour
        plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,292,1,0,10,1,1","count":"306"}],"startTime":1544993878,"endTime":1545080278},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080278}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
