interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "listwebservers", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"14","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"26","results":[{"count":"9","detectionMethod":"Active","name":"nginx"},{"count":"2","detectionMethod":"Active","name":"cisco-IOS"},{"count":"2","detectionMethod":"Active","name":"lighttpd\/1.4.30"},{"count":"2","detectionMethod":"Active","name":"NessusWWW"},{"count":"2","detectionMethod":"Active","name":"Linux
        UPnP\/1.0 Sonos\/47.2-59120 (ZP120)"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080199}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "listwebservers", "type": "vuln", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"14","returnedRecords":5,"startOffset":"5","endOffset":"10","matchingDataElementCount":"26","results":[{"count":"1","detectionMethod":"Active","name":"Apache"},{"count":"1","detectionMethod":"Active","name":"TornadoServer\/1.0"},{"count":"1","detectionMethod":"Active","name":"Transmission"},{"count":"1","detectionMethod":"Active","name":"nginx\/1.12.2"},{"count":"1","detectionMethod":"Active","name":"LCE
        Web Server"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080199}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
