interactions:
- request:
    body: '{"username": "username", "password": "password", "responsibleAssetID":
      -1, "roleID": 2, "authType": "tns"}'
    headers:
      Content-Type:
      - application/json
      TNS_SESSIONID:
      - cb055db79ca05a9f51f8010d528bdc52
      X-SecurityCenter:
      - '0000000000'
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/organization/65/securityManager
  response:
    body:
      string: '{"type":"regular","response":{"id":"1","status":"0","username":"username","firstname":"","lastname":"","title":"","email":"","address":"","city":"","state":"","country":"","phone":"","fax":"","createdTime":"1627580835","modifiedTime":"1627580835","lastLogin":"0","lastLoginIP":"","mustChangePassword":"false","locked":"false","failedLogins":"0","authType":"tns","fingerprint":null,"password":"SET","ldapUsername":"","managedUsersGroups":[{"id":"-1","name":"All
        Groups","description":"All Groups"}],"managedObjectsGroups":[{"id":"-1","name":"All
        Groups","description":"All Groups"}],"preferences":[{"name":"timezone","value":"America\/New_York","tag":"system"}],"parent":false,"apiKeys":[],"canUse":true,"canManage":true,"role":{"id":"2","name":"Security
        Manager","description":"The Security Manager role has full access to all actions
        at the organization level. A Security Manager has the ability to create new
        groups and manage existing ones. A Security Manager can also define how users
        interact with other groups.\n\nThe ability to manage other users and their
        objects can be configured using group permissions on the Access tab of User
        add\/edit. This includes viewing and stopping running scans and reports."},"responsibleAsset":{"id":-1,"name":"","description":""},"group":{"id":"0","name":"Full
        Access","description":"Full Access group"},"ldap":{"id":-1,"name":"","description":""}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1627580835}

        '
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "new mgr name"}'
    headers:
      Content-Type:
      - application/json
      TNS_SESSIONID:
      - cb055db79ca05a9f51f8010d528bdc52
      X-SecurityCenter:
      - '0000000000'
    method: PATCH
    uri: https://securitycenter.home.cugnet.net/rest/organization/65/securityManager/1
  response:
    body:
      string: '{"type":"regular","response":{"id":"1","status":"0","username":"username","firstname":"","lastname":"","title":"","email":"","address":"","city":[...]
[...]
- request:
    body: '{"migrateUserID": 1}'
    headers:
      Content-Type:
      - application/json
      TNS_SESSIONID:
      - cb055db79ca05a9f51f8010d528bdc52
      X-SecurityCenter:
      - '0000000000'
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/organization/65/securityManager/2
  response:
    body:
      string: '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1627580836}

        '
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
version: 1
