interactions:
- request:
    body: '{"rules": {"operator": "any", "children": [{"type": "clause", "filterName":
      "uuid", "operator": "eq", "value": "88a6713b-7ce7-4484-93f2-d4765dbd91f3"}]},
      "name": "tio_test2", "type": "dynamic"}'
    headers:
      Content-Type:
      - application/json
      TNS_SESSIONID:
      - 46170dd18aab5091df572ed248543aa1
      X-SecurityCenter:
      - '0000000000'
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/asset
  response:
    body:
      string: '{"type":"regular","response":{"id":"71","name":"tio_test2","type":"dynamic","description":"","tags":"","context":"","status":"0","createdTime":"1628680863","modifiedTime":"1628680863","ioSyncStatus":"Not
        Synced","ioFirstSyncTime":"-1","ioLastSyncSuccess":"-1","ioLastSyncFailure":"-1","ioSyncErrorDetails":null,"typeFields":{"rules":{"operator":"any","children":[{"filterName":"uuid","operator":"eq","value":"88a6713b-7ce7-4484-93f2-d4765dbd91f3","pluginIDConstraint":"-1","type":"clause"}],"type":"group"}},"repositories":[],"ipCount":0,"groups":[],"assetDataFields":[],"canUse":"true","canManage":"true","creator":{"id":"1","username":"pytenable_test_user","firstname":"","lastname":""},"owner":{"id":"1","username":"pytenable_test_user","firstname":"","lastname":""},"ownerGroup":{"id":"0","name":"Full
        Access","description":"Full Access group"},"targetGroup":{"id":-1,"name":"","description":""},"template":{"id":-1,"name":"","description":""}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1628680863}

        '
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      TNS_SESSIONID:
      - 46170dd18aab5091df572ed248543aa1
      X-SecurityCenter:
      - '0000000000'
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/asset/71
  response:
    body:
      string: '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1628680863}

        '
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.18.0
    status:
      code: 200
      message: OK
version: 1
