interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "iplist", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"0":"192.168.100.1","1":"192.168.100.3-192.168.100.5","2":"192.168.100.10","3":"192.168.100.114","4":"192.168.101.1","5":"192.168.101.30","6":"192.168.101.115","7":"192.168.101.117","8":"192.168.101.130","9":"192.168.101.133","10":"192.168.101.140","11":"192.168.101.146","12":"192.168.101.177-192.168.101.179","13":"192.168.101.189","14":"192.168.101.191","15":"192.168.102.1","16":"192.168.104.106","17":"192.168.104.109","18":"192.168.104.114-192.168.104.115","19":"192.168.104.123-192.168.104.124","20":"192.168.104.126-192.168.104.127","results":null},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080193}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
