interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "trend", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":-1,"returnedRecords":-1,"startOffset":"0","endOffset":"-1","matchingDataElementCount":"0:0:0:0:0:0","results":[{"date":-86400,"score":"0","total":0,"severityInfo":"0","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","dbSource":"unavailable","lastresults":"2^5^0^5^0:0:0:0:0:0^0^0@unavailable\nseverity\ncount\n4\n0\n3\n0\n2\n0\n1\n0\n0\n0"}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080231}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
