interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/feed
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"sc":{"updateTime":"1553231422","stale":"false","updateRunning":"false","subscriptionStatus":"Valid"},"active":{"updateTime":"1553156153","stale":"false","updateRunning":"false","subscriptionStatus":"Valid"},"passive":{"updateTime":"1553234416","stale":"false","updateRunning":"false","subscriptionStatus":"Valid"},"lce":{"updateTime":"1550205301","stale":"true","updateRunning":"false","subscriptionStatus":"Expired"}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1553279040}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
