interactions:
- request:
    body: null
    headers:
      X-SecurityCenter:
      - '0000000000'
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/asset/35
  response:
    body:
      string: '{"type":"regular","response":{"id":"37","name":"Example","type":"static","description":"","tags":"","context":"","status":"0","createdTime":"1560971557","modifiedTime":"1560971557","typeFields":{"definedIPs":"192.168.0.1"},"repositories":[{"ipCount":"-1","repository":{"id":"1","name":"Default","description":""}},{"ipCount":"-1","repository":{"id":"18","name":"Ad-Hoc","description":""}}],"ipCount":-1,"groups":[],"assetDataFields":[],"canUse":"true","canManage":"true","creator":{"id":"2","username":"api","firstname":"api","lastname":"user"},"owner":{"id":"2","username":"api","firstname":"api","lastname":"user"},"ownerGroup":{"id":"0","name":"Full
        Access","description":"Full Access group"},"targetGroup":{"id":-1,"name":"","description":""},"template":{"id":-1,"name":"","description":""}},"error_code":0,"error_msg":"","warnings":[],"timestamp":1560971557}

'
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.8.0
    status:
      code: 200
      message: OK
version: 1
