interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumtype", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":18,"returnedRecords":5,"startOffset":0,"endOffset":5,"matchingDataElementCount":48234,"results":[{"type":"application","24-hour
        plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,5,11,2,6,2,2","count":"32"},{"type":"connection","24-hour
        plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,922,1845,1797,1468,1609,1504,1546","count":"10691"},{"type":"detected-change","24-hour
        plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18,13,2,2","count":"35"},{"type":"dhcp","24-hour
        plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,18,137,138,186,163,64,43","count":"749"},{"type":"error","24-hour
        plot":"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,45,8,1,0,0","count":"64"}],"startTime":1544993876,"endTime":1545080276},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080275}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
