---
interactions:
  - request:
      body: !!python/unicode '{"username": "username", "responsibleAssetID": -1, "password": "password", "role": 1, "authType": "tns"}'
      headers:
        Content-Type: [application/json]
        X-SecurityCenter: ['0000000000']
      method: POST
      uri: https://securitycenter.home.cugnet.net/rest/organization/1/securityManager
    response:
      body: {string: !!python/unicode '{"type":"regular","response":{"id":"1","name":"New
          Sec Manager","description":"","email":"","address":"","city":"","state":"","country":"","phone":"","fax":"",
          "ipInfoLinks":[],"zoneSelection":"auto_only","restrictedIPs":"","vulnScoreLow":"1","vulnScoreMedium":"3",
          "vulnScoreHigh":"10","vulnScoreCritical":"40","createdTime":"1557322695","modifiedTime":"1557322695",
          "userCount":"0","lces":[],"repositories":[],"zones":[],"nessusManagers":[],"pubSites":[],"ldaps":[]},
          "error_code":0,"error_msg":"","warnings":[],"timestamp":1557322695}'}
      headers:
        content-type: [application/json]
        securitycenter: [5.8.0]
      status: {code: 200, message: OK}
  - request:
      body: !!python/unicode '{"name": "new mgr name"}'
      headers:
        Content-Type: [application/json]
        X-SecurityCenter: ['0000000000']
      method: PATCH
      uri: https://securitycenter.home.cugnet.net/rest/organization/1/securityManager/1
    response:
      body: {string: !!python/unicode '{"type":"regular","response":{"id":"1","name":"new mgr name","description":"",
          "email":"","address":"","city":"","state":"","country":"","phone":"","fax":"","ipInfoLinks":[],
          "zoneSelection":"auto_only","restrictedIPs":"","vulnScoreLow":"1","vulnScoreMedium":"3","vulnScoreHigh":"10",
          "vulnScoreCritical":"40","createdTime":"1557322695","modifiedTime":"1557322695","userCount":"0","lces":[],
          "repositories":[],"zones":[],"nessusManagers":[],"pubSites":[],"ldaps":[]},
          "error_code":0,"error_msg":"","warnings":[],"timestamp":1557322695}'}
      headers:
        content-type: [application/json]
        securitycenter: [5.8.0]
      status: {code: 200, message: OK}
[...]
