interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/reportDefinition/1/launch
  response:
    body: {string: !!python/unicode '{"type" : "regular","response" : {"reportDefinitionID" : "1","reportResult" : {"creatorID" : "2","ownerID" : "2","ownerGID" : "1","reportDefinitionID" : "7","jobID" : "113868","name" : "CS-4700 Iterator","description" : "","type" : "pdf","status" : "Queued","errorDetails" : "","totalSteps" : -1,"completedSteps" : 0,"startTime" : -1,"finishTime" : 0,"pubSites" : [],"id" : "1"}}, "error_code" : 0, "error_msg" : "", "warnings" : [], "timestamp" : 1434567869}'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
