interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/scanner/9
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"25","name":"Example","description":"","ip":"127.0.0.1","port":"8834","useProxy":"false","enabled":"true","verifyHost":"false","managePlugins":"false","authType":"password","cert":null,"username":"nouser","password":"SET","agentCapable":"false","version":null,"webVersion":null,"admin":"false","msp":"false","numScans":"0","numHosts":"0","numSessions":"0","numTCPSessions":"0","loadAvg":"0.0","uptime":-1,"status":"8192","pluginSet":null,"loadedPluginSet":null,"serverUUID":null,"createdTime":"1553267776","modifiedTime":"1553267776","zones":[],"nessusManagerOrgs":[],"certInfo":""},"error_code":0,"error_msg":"","warnings":[],"timestamp":1553267776}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"status": "8192", "verifyHost": "false", "ip": "127.0.0.1",
      "nessusManagerOrgs": [], "zones": [], "managePlugins": "false", "id": "25",
      "authType": "password", "certInfo": "", "serverUUID": null, "msp": "false",
      "port": "8834", "version": null, "agentCapable": "false", "numSessions": "0",
      "numTCPSessions": "0", "username": "nouser", "numScans": "0", "description":
      "", "modifiedTime": "1553267776", "loadedPluginSet": null, "uptime": -1, "loadAvg":
      "0.0", "password": "SET", "pluginSet": null, "name": "Updated Scanner Name",
      "useProxy": "false", "admin": "false", "numHosts": "0", "enabled": "true", "cert":
      null, "webVersion": null, "createdTime": "1553267776"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: PATCH
    uri: https://securitycenter.home.cugnet.net/rest/scanner/9
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"25","name":"Updated
        Scanner Name","description":"","ip":"127.0.0.1","port":"8834","useProxy":"false","enabled":"true","verifyHost":"false","managePlugins":"false","authType":"password","cert":null,"username":"nouser","password":"SET","agentCapable":"false","version":null,"webVersion":null,"admin":"false","msp":"false","numScans":"0","numHosts":"0","numSessions":"0","numTCPSessions":"0","loadAvg":"0.0","uptime":-1,"status":"8192","pluginSet":null,"loadedPluginSet":null,"serverUUID":null,"createdTime":"1553267776","modifiedTime":"1553267777","zones":[],"nessusManagerOrgs":[]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1553267776}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
