interactions:
- request:
    body: null
    headers:
      X-SecurityCenter:
      - '0000000000'
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/asset/35
  response:
    body:
      string: '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1560968580}

'
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.8.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-SecurityCenter:
      - '0000000000'
    method: DELETE
    uri: https://securitycenter.home.cugnet.net/rest/asset/50
  response:
    body:
      string: '{"type":"regular","response":"","error_code":0,"error_msg":"","warnings":[],"timestamp":1561038822}

'
    headers:
      Content-Type:
      - application/json
      SecurityCenter:
      - 5.8.0
    status:
      code: 200
      message: OK
version: 1
