---
interactions:
  - request:
      body: null
      headers:
        X-SecurityCenter: ['2068473896']
      method: GET
      uri: https://securitycenter.home.cugnet.net/rest/scan/9?fields=id,name,description
    response:
      body: {string: !!python/unicode '{"type":"regular","response":{"id":"28","name":"Example
          Scan","description":""},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545177469}'}
      headers:
        content-type: [application/json]
        securitycenter: [5.8.0]
      status: {code: 200, message: OK}
  - request:
      body: null
      headers:
        X-SecurityCenter: ['2068473896']
      method: DELETE
      uri: https://securitycenter.home.cugnet.net/rest/scan/9
    response:
      body: {string: !!python/unicode '{"type":"regular","response":"",
            "error_code":0,"error_msg":"","warnings":[],"timestamp":1545177469}'}
      headers:
        content-type: [application/json]
        securitycenter: [5.8.0]
      status: {code: 200, message: OK}
version: 1
