interactions:
- request:
    body: !!python/unicode '{"name": "Example Role"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/role
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"id":"1000006","creatorID":"2","name":"Example
        Role","description":"","createdTime":"1554132029","modifiedTime":"1554132029","permManageApp":"false","permManageGroups":"false","permManageRoles":"false","permManageImages":"false","permManageGroupRelationships":"false","permManageBlackoutWindows":"false","permManageAttributeSets":"false","permCreateTickets":"false","permCreateAlerts":"false","permCreateAuditFiles":"false","permCreateLDAPAssets":"false","permCreatePolicies":"false","permPurgeTickets":"false","permPurgeScanResults":"false","permPurgeReportResults":"false","permScan":"none","permAgentsScan":"false","permShareObjects":"false","permUpdateFeeds":"false","permUploadNessusResults":"false","permViewOrgLogs":"false","permManageAcceptRiskRules":"false","permManageRecastRiskRules":"false"},"error_code":0,"error_msg":"","warnings":[],"timestamp":1554132029}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
