interactions:
- request:
    body: null
    headers:
      X-SecurityCenter: ['0000000000']
    method: GET
    uri: https://securitycenter.home.cugnet.net/rest/system/diagnostics
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"statusJava":"true","statusRPM":"true","statusDisk":"true","statusThresholdDisk":"5%","statusLastChecked":"1553141401","diagnosticsGenerated":1553200173,"diagnosticsGenerateState":"-1"},"error_code":0,"error_msg":"","warnings":[],"timestamp":1553201615}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
