interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumdnsname", "type": "vuln", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "vuln", "sourceType": "cumulative"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":"24","returnedRecords":5,"startOffset":"0","endOffset":"5","matchingDataElementCount":"1467:17:146:172:31:1101:2687","results":[{"dnsName":"freelancer","score":"617","total":"179","severityInfo":"144","severityLow":"0","severityMedium":"9","severityHigh":"15","severityCritical":"11","repository":{"id":"2","name":"Agents","description":"","dataFormat":"agent"}},{"dnsName":"avswitch.home.cugnet.net","score":"0","total":"10","severityInfo":"10","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","repository":{"id":"1","name":"Default","description":"","dataFormat":"IPv4"}},{"dnsName":"bastion.home.cugnet.net","score":"0","total":"15","severityInfo":"15","severityLow":"0","severityMedium":"0","severityHigh":"0","severityCritical":"0","repository":{"id":"2","name":"Agents","description":"","dataFormat":"agent"}},{"dnsName":"bastion.home.cugnet.net","score":"1","total":"37","severityInfo":"36","severityLow":"1","severityMedium":"0","severityHigh":"0","severityCritical":"0","repository":{"id":"1","name":"Default","description":"","dataFormat":"IPv4"}},{"dnsName":"diskstation.home.cugnet.net","score":"34","total":"125","severityInfo":"116","severityLow":"0","severityMedium":"8","severityHigh":"1","severityCritical":"0","repository":{"id":"1","name":"Default","description":"","dataFormat":"IPv4"}}]},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080208}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
[...]
