interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumdate", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":1,"returnedRecords":1,"startOffset":0,"endOffset":5,"matchingDataElementCount":48208,"results":[{"date":"Dec
        17, 2018","time block start":"1545022800","time block stop":"1545109199","count":"48208","24-hour
        plot":"0,0,0,0,0,0,0,0,0,0,0,0,804,34828,6422,6154,0,0,0,0,0,0,0,0"}],"startTime":1544993858,"endTime":1545080258},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080258}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
