interactions:
- request:
    body: !!python/unicode '{"query": {"tool": "sumdstip", "type": "event", "startOffset":
      0, "filters": [], "endOffset": 5}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":555,"returnedRecords":5,"startOffset":0,"endOffset":5,"matchingDataElementCount":48208,"results":[{"address":"192.168.101.1","count":"27047","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.101.30","count":"5493","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"0.0.0.0","count":"4785","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.106.100","count":"2624","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.101.115","count":"1311","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}}],"startTime":1544993859,"endTime":1545080259},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080259}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"query": {"tool": "sumdstip", "type": "event", "startOffset":
      5, "filters": [], "endOffset": 10}, "type": "event", "sourceType": "lce"}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['2023559547']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/analysis
  response:
    body: {string: !!python/unicode '{"type":"regular","response":{"totalRecords":555,"returnedRecords":5,"startOffset":5,"endOffset":10,"matchingDataElementCount":48208,"results":[{"address":"192.168.106.1","count":"1240","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"192.168.101.179","count":"784","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"24.15.184.174","count":"633","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"224.0.0.251","count":"390","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}},{"address":"209.208.119.124","count":"380","lce":{"id":"1","name":"Internal
        LCE","description":"","status":"1"}}],"startTime":1544993861,"endTime":1545080261},"error_code":0,"error_msg":"","warnings":[],"timestamp":1545080261}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
version: 1
