interactions:
- request:
    body: !!python/unicode '{"hostValue": "127.0.0.1", "plugin": {"id": "19506"},
      "repositories": [{"id": 1}], "hostType": "ip", "newSeverity": {"id": "0"}}'
    headers:
      Content-Type: [application/json]
      X-SecurityCenter: ['0000000000']
    method: POST
    uri: https://securitycenter.home.cugnet.net/rest/recastRiskRule
  response:
    body: {string: !!python/unicode '{"type":"regular","response":[{"id":"1","newSeverity":"0","hostType":"ip","hostValue":"127.0.0.1","port":"any","protocol":"any","comments":"","order":"1","status":"0","createdTime":"1554731789","modifiedTime":"1554731789","repository":{"id":"1","name":"Default","description":""},"organization":{"id":"1","name":"HomeNet","description":""},"user":{"id":"2","username":"api","firstname":"api","lastname":"user"},"plugin":{"id":"19506","name":"Nessus
        Scan Information","description":"This plugin displays, for each tested host,
        information about the scan itself :\n\n  - The version of the plugin set.\n  -
        The type of scanner (Nessus or Nessus Home).\n  - The version of the Nessus
        Engine.\n  - The port scanner(s) used.\n  - The port range scanned.\n  - Whether
        credentialed or third-party patch management     checks are possible.\n  -
        The date of the scan.\n  - The duration of the scan.\n  - The number of hosts
        scanned in parallel.\n  - The number of checks done in parallel."}}],"error_code":0,"error_msg":"","warnings":[],"timestamp":1554731789}

'}
    headers:
      content-type: [application/json]
      securitycenter: [5.8.0]
    status: {code: 200, message: OK}
