interactions:
- request:
    body: '{"num_assets": 500, "filters": {"scan_uuid": "992b7204-bde2-d17c-cabf-1191f2f6f56b7f1dbd59e117463c",
      "since": 1661327570}}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/vulns/export
  response:
    body:
      string: '{"export_uuid":"8b606c8d-d042-4d27-9aa7-d798e8528710"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - service-nginx-router-ap-northeast-1-prod-7bfcc7b48d-crdzs
      X-Request-Uuid:
      - 0e798331ddf91491c61272ef8fc92b68
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: GET
    uri: https://cloud.tenable.com/vulns/export/8b606c8d-d042-4d27-9aa7-d798e8528710/status
  response:
    body:
      string: '{"uuid":"8b606c8d-d042-4d27-9aa7-d798e8528710","status":"PROCESSING","chunks_available":[],"chunks_failed":[],"chunks_cancelled":[],"total_chunks":6,"chunks_available_count":4,"empty_chunks_count":4,"finished_chunks":4,"filters":{"state":["OPEN","REOPENED"],"tags":{},"scanuuid":"992b7204-bde2-d17c-cabf-1191f2f6f56b7f1dbd59e117463c","since":1661327570,"first_found":0,"last_found":0,"last_fixed":0,"first_seen":0,"last_seen":0,"indexed_at":0},"num_assets_per_chunk":500,"created":1669191245469}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - service-nginx-router-ap-northeast-1-prod-7bfcc7b48d-crdzs
      X-Request-Uuid:
      - 7b6fdcd0a308ce09c43b4d61b5d45c35
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: GET
    uri: https://cloud.tenable.com/vulns/export/8b606c8d-d042-4d27-9aa7-d798e8528710/chunks/1
  response:
    body:
      string: '[{"asset":{"device_type":"general-purpose","fqdn":"target3.pubtarg.tenablesecurity.com","hostname":"target3.pubtarg.tenablesecurity.com","uuid":"89cc9980-2aab-4ca2-8595-283deff50701","ipv4":"44.241.160.134","last_unauthenticated_results":"2022-05-31T09:08:26Z","operating_system":["Linux
        Kernel 3.13 on Ubuntu 14.04 (trusty)"],"network_id":"00000000-0000-0000-0000-000000000000","tracked":true},"output":"For
        your information, here is the traceroute from 172.16.31.133 to 44.241.160.134
        : \n172.16.31.133\n100.64.80.5\n240.1.240.35\n250.254.128.4\n242.0.0.25\n240.0.208.7\n242.2.99.145\n44.241.160.134\n\nHop
        Count: 7\n","plugin":{"checks_for_default_account":false,"checks_for_malware":false,"cvss3_base_score":0.0,"cvss3_temporal_score":0.0,"cvss_base_score":0.0,"cvss_temporal_score":0.0,"description":"Makes
        a traceroute to the remote host.","exploit_available":false,"exploit_framework_canvas":false,"exploit_framework_core":false,"exploit_framework_d2_elliot":false,"exploit_framework_exploithub":false,"exploit_framework_metasploit":false,"exploited_by_malware":false,"exploited_by_nessus":false,"family":"General","family_id":30,"has_patch":false,"id":10287,"in_the_news":false,"name":"Traceroute
        Information","modification_date":"2020-08-20T00:00:00Z","publication_date":"1999-11-27T00:00:00Z","risk_factor":"None","see_also":[""],"solution":"N/A","synopsis":"It
        was possible to obtain traceroute information.","type":"remote","unsupported_by_vendor":false,"version":"1.67"},"port":{"port":0,"protocol":"UDP"},"scan":{"completed_at":"2022-11-07T10:27:34.212Z","schedule_uuid":"04d0cc9e-5191-4f66-a5d4-6bdde738ab13","started_at":"2022-11-07T10:27:34.212Z","uuid":"992b7204-bde2-d17c-cabf-1191f2f6f56b7f1dbd59e117463c"},"severity":"info","severity_id":0,"severity_default_id":0,"severity_modification_type":"NONE","first_found":"2022-08-02T10:35:16.421Z","last_found":"2022-11-07T10:27:34.212Z","state":"OPEN","indexed":"2022-11-07T10:28:02.258Z"},{"asset":{"device_type":"general-purpose","fqdn":"target3.pubtarg.tenablesecurity.com","hostname":"target3.pubtarg.tenablesecurity.com","uuid":"89cc9980-2aab-4ca2-8595-283deff50701","ipv4":"44.241.160.134","last_unauthenticated_results":"2022-05-31T09:08:26Z","operating_system":["Linux
        Kernel 3.13 on Ubuntu 14.04 (trusty)"],"network_id":"00000000-0000-0000-0000-000000000000","tracked":true},"output":"\nGive
        Nessus credentials to perform local checks.\n[...]
- request:
    body: null
    headers:
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: GET
    uri: https://cloud.tenable.com/vulns/export/8b606c8d-d042-4d27-9aa7-d798e8528710/chunks/5
  response:
    body:
      string: '[{"asset":{"device_type":"general-purpose","fqdn":"target4.pubtarg.tenablesecurity.com","hostname":"target4.pubtarg.tenablesecurity.com","uuid":"00beed98-f607-4077-88b3-9ada1862a144","ipv4":"44.235.70.201","last_unauthenticated_results":"2022-05-31T09:08:14Z","operating_system":["Linux
        Kernel 3.10 on CentOS Linux release 7"],"network_id":"00000000-0000-0000-0000-000000000000","tracked":true},"output":"Based
        on the response to an OPTIONS request :\n\n  - HTTP methods GET HEAD OPTIONS
        POST TRACE are allowed on : \n\n    /\n\n","plugin":{"checks_for_default_account":false,"checks_for_malware":false,"cvss3_base_score":0.0,"cvss3_temporal_score":0.0,"cvss_base_score":0.0,"cvss_temporal_score":0.0,"description":"By
        calling the OPTIONS method, it is possible to determine which HTTP methods
        are allowed on each directory.\n\nThe following HTTP methods are considered
        insecure:\n  PUT, DELETE, CONNECT, TRACE, HEAD\n\nMany frameworks and languages
        treat ''HEAD'' as a ''GET'' request, albeit one without any body in the response.
        If a security constraint was set on ''GET'' requests such that only ''authenticatedUsers''
        could access GET requests for a particular servlet or resource, it would be
        bypassed for the ''HEAD'' version. This allowed unauthorized blind submission
        of any privileged GET request.\n\nAs this list may be incomple[...]
[...]
