interactions:
- request:
    body: '{"name": "Example Cred", "description": "", "type": "SSH", "settings":
      {"username": "root", "password": "something", "auth_method": "password", "elevate_privileges_with":
      "Nothing", "custom_password_prompt": ""}, "permissions": []}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/credentials
  response:
    body:
      string: '{"uuid":"38ecce08-6696-4f28-81d7-7ba07677c16e"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gateway-Site-ID:
      - service-nginx-router-ap-south-1-prod-69479dd7b-g699b
      X-Request-Uuid:
      - 2f8bbfe439c22114be2b27fb572a64ba
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Example Cred", "description": "", "type": "SSH", "settings":
      {"username": "root", "password": "something", "auth_method": "password", "elevate_privileges_with":
      "Nothing", "custom_password_prompt": ""}, "permissions": []}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/credentials
  response:
    body:
      string: '{"uuid":"ce6302d8-a02b-414d-9594-5ac6d25c99c3"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gateway-Site-ID:
      - service-nginx-router-ap-south-1-prod-69479dd7b-g699b
      X-Request-Uuid:
      - 0b69477448245ff048b650cdd004cee7
    status:
      code: 200
      message: OK
version: 1
