interactions:
- request:
    body: '{"limit": 200, "filter": {"and": [{"operator": "lt", "value": "2022-05-14T18:30:00.000Z",
      "property": "last_observed"}, {"operator": "eq", "value": ["522b0827-1780-42c5-9f70-2e481a845b41"],
      "property": "tags"}]}, "sort": [{"created": "desc"}]}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/api/v3/assets/webapp/search
  response:
    body:
      string: '{"assets":[{"types":["webapp"],"sources":["WAS"],"last_licensed_scan_time":"2022-02-01T14:30:30.149Z","created":"2021-10-21T20:50:51.403Z","is_licensed":false,"ipv4_addresses":["142.251.111.153"],"homepage_screenshot_url":"https://cloud.tenable.com/was/v2/attachments/cbb1ffed-8e65-4a47-80c4-776252307654","tags":[{"id":"522b0827-1780-42c5-9f70-2e481a845b41","category":"Test_1_EDITED
        123","value":"111","type":"static"}],"display_ipv4_address":"142.251.111.153","first_observed":"2021-10-21T20:50:51.196Z","is_deleted":false,"ssl_tls_enabled":true,"last_observed":"2022-02-01T14:30:30.149Z","name":"google-gruyere.appspot.com","id":"094fe7aa-bd73-439f-abf1-40f5b0f419a4","updated":"2022-02-01T22:32:54.230Z"}],"pagination":{"limit":200,"total":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-orlc5-ap-southeast-1-prod
      X-Request-Uuid:
      - 0c58c196fba31ed60d2f5bcd3396a565
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"limit": 200, "filter": {"and": [{"operator": "lt", "value": "2022-05-14T18:30:00.000Z",
      "property": "last_observed"}, {"operator": "eq", "value": ["522b0827-1780-42c5-9f70-2e481a845b41"],
      "property": "tags"}]}, "sort": [{"created": "desc"}]}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/api/v3/assets/webapp/search
  response:
    body:
      string: 'created,display_ipv4_address,first_observed,homepage_screenshot_url,id,ipv4_addresses,is_deleted,is_licensed,last_licensed_scan_time,last_observed,name,sources,ssl_tls_enabled,tags,types,updated

        2021-10-21T20:50:51.403Z,142.251.111.153,2021-10-21T20:50:51.196Z,"https://cloud.tenable.com/was/v2/attachments/cbb1ffed-8e65-4a47-80c4-776252307654","094fe7aa-bd73-439f-abf1-40f5b0f419a4",142.251.111.153,false,false,2022-02-01T14:30:30.149Z,2022-02-01T14:30:30.149Z,"google-gruyere.appspot.com",WAS,true,111,webapp,2022-02-01T22:32:54.230Z

        '
    headers:
      Content-Type:
      - text/csv;charset=UTF-8
      X-Gateway-Site-ID:
      - nginx-router-orlc5-ap-southeast-1-prod
      X-Request-Uuid:
      - 96db74430e94b22b2f9df9c09e916b63
    status:
      code: 200
      message: OK
version: 1
