interactions:
- request:
    body: '{"force_ui_update": 1}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: PUT
    uri: https://cloud.tenable.com/scanners/1
  response:
    body:
      string: '{"statusCode":404,"error":"Not Found","message":"Scanner with id 1
        not found."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - service-nginx-router-ap-northeast-1-prod-5f64dbb68d-x8cjf
      X-Request-Uuid:
      - d3dc66ae7f6e7caf1471ac3ba30175bc
    status:
      code: 404
      message: Not Found
version: 1
