interactions:
- request:
    body: !!python/unicode '{"name": "00bc5450-497e-4047-9f0b-0e2755d7cd2e", "email":
      "noreply@pytenable.test"}'
    headers:
      Content-Type: [application/json]
      X-APIKeys: [accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY]
    method: PUT
    uri: https://cloud.tenable.com/session
  response:
    body: {string: !!python/unicode '{"id":3,"user_name":"test_admin@pytenable.io","username":"test_admin@pytenable.io","email":"noreply@pytenable.test","name":"00bc5450-497e-4047-9f0b-0e2755d7cd2e","type":"local","whatsnew_version":"","aggregate":true,"permissions":64,"login_fail_count":0,"login_fail_total":0,"enabled":true,"uuid":"a09161a2-3860-4ca8-93c8-b3f7be366e50","container_uuid":"a0abbae8-512f-4b9d-93f3-74d9809a1004","uuid_id":"a09161a2-3860-4ca8-93c8-b3f7be366e50"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-gateway-site-id: [nginx-router-a-prod-us-east-2]
      x-request-uuid: [37a0d5532172aff686fad90a24ddfa16]
    status: {code: 200, message: OK}
version: 1
