interactions:
- request:
    body: '{"name": "New Name - e2c13ee3-902a-4dee-b66f-0e048ff4f576", "description":
      "something", "assets_ttl_days": -5}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/networks
  response:
    body:
      string: '{"error":"Invalid TTL. When declared, a TTL must be at or above 14"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - service-nginx-router-ap-south-1-prod-69479dd7b-vl587
      X-Request-Uuid:
      - de10ddf155928d68ae4f903e6de382a5
    status:
      code: 400
      message: Bad Request
version: 1
