interactions:
- request:
    body: null
    headers:
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: GET
    uri: https://cloud.tenable.com/credentials/f07267e2-2994-4293-900a-8acc9adaacd4
  response:
    body:
      string: '{"name":"updated cred","description":"","category":{"id":"Host","name":"Host"},"type":{"id":"Windows","name":"Windows"},"ad_hoc":false,"user_permissions":64,"settings":{"domain":"","username":"administrator","auth_method":"Password","password":"********"},"permissions":[{"grantee_uuid":"e1b94c27-9dca-4367-b75f-ea6c37deaa0f","type":"user","permissions":64,"name":"triage_musikaar@tenable.com"},{"grantee_uuid":"00000000-0000-0000-0000-000000000000","type":"user","permissions":64,"name":null}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-dkrsa-ap-southeast-1-prod
      X-Request-Uuid:
      - d5ed13e58d18584663fdc6807bc8ba56
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "updated cred", "description": "", "ad_hoc": false, "permissions":
      [{"grantee_uuid": "00000000-0000-0000-0000-000000000000", "type": "user", "permissions":
      64, "name": "test_admin@pytenable.io"}], "settings": {"domain": "", "username":
      "administrator", "auth_method": "Password", "password": "********"}}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: PUT
    uri: https://cloud.tenable.com/credentials/f07267e2-2994-4293-900a-8acc9adaacd4
  response:
    body:
      string: '{"updated":true}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-dkrsa-ap-southeast-1-prod
      X-Request-Uuid:
      - 3f648bb43e301a747e020cbbe21fad4f
    status:
      code: 200
      message: OK
version: 1
