interactions:
- request:
    body: '{"category_name": "Example", "value": "1d31b1e7-5924-4b8b-821d-ac262f31dc8f",
      "access_control": {"current_user_permissions": ["ALL", "CAN_EDIT", "CAN_SET_PERMISSIONS"],
      "all_users_permissions": [], "current_domain_permissions": []}}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/tags/values
  response:
    body:
      string: '{"uuid":"6225ad7c-28e3-46eb-9010-1bb12eda122c","created_at":"2021-09-14T12:22:32.446Z","created_by":"pytenable_test_user@tenable.com","updated_at":"2021-09-14T12:22:32.446Z","updated_by":"pytenable_test_user@tenable.com","category_uuid":"e15d55f5-a18a-4738-93ba-0afc733e064a","value":"1d31b1e7-5924-4b8b-821d-ac262f31dc8f","type":"static","category_name":"Example","assignment_count":0,"access_control":{"current_user_permissions":["ALL","CAN_EDIT","CAN_SET_PERMISSIONS"],"defined_domain_permissions":["ALL","CAN_EDIT","CAN_SET_PERMISSIONS"],"all_users_permissions":[],"current_domain_permissions":[{"id":"1a2d0102-11b0-4aee-b04f-7240fb66514f","name":"pytenable_test_user@tenable.com","type":"USER","permissions":["ALL","CAN_EDIT","CAN_SET_PERMISSIONS"]}],"version":0},"saved_search":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-jlmtn-us-east-1-prod
      X-Request-Uuid:
      - b01220c86fa15802d6a27b2f1ab646aa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: GET
    uri: https://cloud.tenable.com/tags/values/6225ad7c-28e3-46eb-9010-1bb12eda122c
  response:
    body:
      string: '{"uuid":"6225ad7c-28e3-46eb-9010-1bb12eda122c","created_at":"2021-09-14T12:22:32.446Z","created_by":"pytenable_test_user@tenable.com","updated_at":"2021-09-14T12:22:32.446Z","updated_by":"pytenable_test_user@tenable.com","category_uuid":"e15d55f5-a18a-4738-93ba-0afc733e064a","value":"1d31b1e7-5924-4b8b-821d-ac262f31dc8f","type":"static","category_name":"Example","assignment_count":0,"access_control":{"current_user_permissions":["ALL","CAN_EDIT","CAN_SET_PERMISSIONS"],"defined_domain_permissions":["ALL","CAN_EDIT","CAN_SET_PERMISSIONS"],"all_users_permissions":[],"current_domain_permissions":[{"id":"1a2d0102-11b0-4aee-b04f-7240fb66514f","name":"pytenable_test_user@tenable.com","type":"USER","permissions":["ALL","CAN_EDIT","CAN_SET_PERMISSIONS"]}],"version":0},"saved_search":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-jlmtn-us-east-1-prod
      X-Request-Uuid:
      - b8cba9b44ae5af660572076a04da7f41
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: GET
    uri: https://cloud.tenable.com/tags/values?limit=1000&offset=0
  response:
    body:
      string: '{"values":[{"uuid":"e25d163b-a41b-4644-8e5d-4ae72d1c7e01","created_at":"2021-06-18T15:09:20.113Z","created_by":"pytenable_test_user@tenable.com","updated_at":"2021-06-18T15:09:20.113Z","updated_by":"pytenable_test_user@tenable.com","category_uuid":"f6d25769-f2d3-4dff-8283-1123e0351648","value":"Values","description":"","type":"static","category_name":"Test","category_description":"","access_control":{"current_user_permissions":["ALL","CAN_EDIT","CAN_SET_PERMISSIONS"]},"saved_search":false}],"pagination":{"offset":0,"limit":1000,"total":1}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-jlmtn-us-east-1-prod
      X-Request-Uuid:
      - 4a3f2858b719bad7f0ed04f47f190fe1
    status:
      code: 200
      message: OK
version: 1
