interactions:
- request:
    body: '{"fields": ["test1", "test2"], "limit": 10, "sort": [{"name": "asc"}, {"bios_name":
      "desc"}], "filter": {"or": [{"and": [{"property": "test", "operator": "oper",
      "value": "1"}, {"property": "test", "operator": "oper", "value": "2"}]}], "and":
      [{"property": "test", "operator": "oper", "value": 3}]}}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/api/v3/assets/search
  response:
    body:
      string: This scanner, agent, or API key token does not appear to be related
        to any active containers on any sites and has been blacklisted.
    headers:
      Content-Type:
      - application/octet-stream
      X-Gateway-Site-ID:
      - nginx-router-orlc5-ap-southeast-1-prod
      X-Path-Handler:
      - blacklisted
      X-Request-Uuid:
      - 55d6ffed87adaa4a67e05f08555ad0ee
    status:
      code: 401
      message: Unauthorized
version: 1
