interactions:
- request:
    body: '{"name": "Example Cred", "description": "", "type": "SSH", "settings":
      {"username": "root", "password": "something", "auth_method": "password", "elevate_privileges_with":
      "Nothing", "custom_password_prompt": ""}, "permissions": []}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/credentials
  response:
    body:
      string: '{"uuid":"41bf7fe1-ab87-4799-9960-c1b5b37ed70e"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gateway-Site-ID:
      - service-nginx-router-ap-south-1-prod-6769c7d875-vmzhc
      X-Request-Uuid:
      - 7915982681c61622f737fb33671813ca
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Example Cred", "description": "", "type": "SSH", "settings":
      {"username": "root", "password": "something", "auth_method": "password", "elevate_privileges_with":
      "Nothing", "custom_password_prompt": ""}, "permissions": []}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/credentials
  response:
    body:
      string: '{"uuid":"c0d583f2-e80e-45f8-bfd8-567a0b371550"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gateway-Site-ID:
      - service-nginx-router-ap-south-1-prod-6769c7d875-7kd9s
      X-Request-Uuid:
      - 4e8653098d93ad2a4e43d1bffd10601a
    status:
      code: 200
      message: OK
version: 1
