interactions:
- request:
    body: '{"name": "30fbf0eb-7b02-4a1f-adcd-c79fbeac649c"}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/tags/categories
  response:
    body:
      string: '{"uuid":"025956e5-d2ee-475e-90fa-ff487b32e2df","created_at":"2021-09-14T13:15:38.366Z","created_by":"pytenable_test_user@tenable.com","updated_at":"2021-09-14T13:15:38.366Z","updated_by":"pytenable_test_user@tenable.com","name":"30fbf0eb-7b02-4a1f-adcd-c79fbeac649c","reserved":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-jlmtn-us-east-1-prod
      X-Request-Uuid:
      - 640d52d75760a85f12b7d8ee88351200
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Edited_3.8"}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: PUT
    uri: https://cloud.tenable.com/tags/categories/025956e5-d2ee-475e-90fa-ff487b32e2df
  response:
    body:
      string: '{"uuid":"025956e5-d2ee-475e-90fa-ff487b32e2df","created_at":"2021-09-14T13:15:38.366Z","created_by":"pytenable_test_user@tenable.com","updated_at":"2021-09-14T13:15:39.559Z","updated_by":"pytenable_test_user@tenable.com","name":"Edited_3.8","reserved":false,"value_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-jlmtn-us-east-1-prod
      X-Request-Uuid:
      - c0296a4c9c15405f46b18f6db2684c2c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: DELETE
    uri: https://cloud.tenable.com/tags/categories/025956e5-d2ee-475e-90fa-ff487b32e2df
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      X-Gateway-Site-ID:
      - nginx-router-jlmtn-us-east-1-prod
      X-Request-Uuid:
      - 86eb48b5434ff8cbc0e784eb642c0994
    status:
      code: 200
      message: OK
version: 1
