interactions:
- request:
    body: null
    headers:
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: GET
    uri: https://cloud.tenable.com/tags/categories/filter-categories
  response:
    body:
      string: '{"categories":[{"uuid":"2225679d-cbde-4e44-a201-dadbd94fd700","name":"test
        tag","value_count":1,"values":[{"uuid":"de2e56a2-6a0e-4757-8d00-e9ad635f6231","value":"acr"}]},{"uuid":"71b6d9f4-cf29-4ec9-8d83-ba00575e9b67","name":"NO","value_count":1,"values":[{"uuid":"f038fd3a-a844-438f-b7a7-7acc6369f3e9","value":"UPDATE"}]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-16k0p-ap-southeast-1-prod
      X-Request-Uuid:
      - 2241ce5386d4e1a63c7047c86c2a4f4f
    status:
      code: 200
      message: OK
version: 1
