interactions:
- request:
    body: '{"actions": ["CanView", "CanUse"], "objects": [{"name": "Category,dummy_value",
      "type": "Tag", "uuid": "3c30dc7d-7bd5-458b-a2e1-f74207f8e2ed"}], "subjects":
      [{"name": "User sub", "type": "User", "uuid": "b83faeec-f790-433f-893c-88c48c82562e"}],
      "name": "test_lIWbd"}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/api/v3/access-control/permissions
  response:
    body:
      string: '{"permission_uuid":"52b63814-810f-4012-a023-8d29913d3cc1","name":"test_lIWbd","subjects":[{"type":"User","uuid":"b83faeec-f790-433f-893c-88c48c82562e","name":"admin_a@sandbox.a.io"}],"actions":["CanView","CanUse"],"objects":[{"type":"Tag","uuid":"3c30dc7d-7bd5-458b-a2e1-f74207f8e2ed","name":"Category:dummy_value"}],"created_at":1663229046424,"created_by":"admin_a@sandbox.a.io"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-ppvw7-ap-southeast-1-prod
      X-Request-Uuid:
      - fda5c58a9c0075f69488ce34aaed6835
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: GET
    uri: https://cloud.tenable.com/api/v3/access-control/permissions/52b63814-810f-4012-a023-8d29913d3cc1
  response:
    body:
      string: '{"permission_uuid":"52b63814-810f-4012-a023-8d29913d3cc1","name":"test_lIWbd","subjects":[{"type":"User","uuid":"b83faeec-f790-433f-893c-88c48c82562e","name":"admin_a@sandbox.a.io"}],"actions":["CanView","CanUse"],"objects":[{"type":"Tag","uuid":"3c30dc7d-7bd5-458b-a2e1-f74207f8e2ed","name":"Category:dummy_value"}],"created_at":1663229046424,"created_by":"admin_a@sandbox.a.io"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-ppvw7-ap-southeast-1-prod
      X-Request-Uuid:
      - cb6723878b6c3878b6d78caaf3ab50bd
    status:
      code: 200
      message: OK
version: 1
