interactions:
- request:
    body: '[{"acr_score": 1, "reason": ["Other"], "asset": [{"id": "de2e56a2-6a0e-4757-8d00-e9ad635f6231"}],
      "note": null}]'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/api/v2/assets/bulk-jobs/acr
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/octet-stream
      X-Gateway-Site-ID:
      - nginx-router-nxd9y-ap-southeast-1-prod
      X-Request-Uuid:
      - 2f7c4178e4e7f55c41c8ce3be2b4cd09
    status:
      code: 202
      message: Accepted
version: 1
